{% extends "proposal.html" %} 

{% block sub-page_content %}

{% if not messages %}
<h2>Archived Proposals</h2>
{% else %}
<h2>Archived Proposals</h2>
{% for message in messages %}<li>{{ message }}</li>{% endfor %}
{% endif %}

{% endblock %}

{% block page_detail_content %} 

<div class="row mb-2">
    <div class="col-1"></div>
    <div class="col">
        <div class="table-responsive card shadow-sm">
            <table class="table table-bordered table-hover">
                <tr class="table-primary">
                    <th>Title</th>
                    <th style="min-width: 120px">Client Name</th>
                    <th>Date</th>
                </tr>
                {% for proposal in archive_proposal %}
                <tr>
                    <td>
                        <a href="archive_detail/{{ proposal.pk }}">{{ proposal.title }}</a>
                    </td>
                    <td><a href="client_detail/{{ proposal.client.pk }}">{{ proposal.client_name }}</td>
                    <td>{{ proposal.created_at }}</td>
                </tr>
                {% endfor %}
            </table>
        </div>
    </div>
    <div class="col-1"></div>
</div>        

{% endblock %}