{% extends "proposal.html" %}

{% block sub-page_content %}

{% if not messages %}
<h2>Edit Archived Proposal Details</h2>
{% else %}
<h2>Edit Archived Proposal Details</h2>
{% for message in messages %}<li>{{ message }}</li>{% endfor %}
{% endif %}

{% endblock %}

{% block page_detail_content %}


<form method="POST">
    {% csrf_token %}
    <div class="row mb-2 mt">

        <div id="deleteModal" tabindex="-1" class="modal fade">
            <div class="modal-dialog modal-confirm">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Are you sure?</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    </div>
                    <div class="modal-body">
                        <p>Do you really want to delete the Proposal: {{ archive_detail.title }}? </p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-info" data-dismiss="modal">Cancel</button>
                        <button type="submit" name="delete" class="btn btn-danger">Delete</button>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="col-lg-1"></div>
        <div class="col-md-1"></div>
        <div class="col-sm-1"></div>

        <div class="col">
            <div class="card">
                <h3 class="card-header">{{ archive_detail.title }}</h3>

                <div class="card-body">


                    <div class="row mb-2">

                        <div class="col">
                            <div class="input-group input-group-sm mb-2">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="inputID">ID:</span>
                                </div>
                                <input type="text" class="form-control" aria-label="pk" aria-describedby="inputID" style="text-align:right;" name="pk" value="{{ archive_detail.pk }}" />
                            </div>
                        </div>

                    </div>

                    <div class="row mb-2">

                        <div class="col">
                            <div class="input-group input-group-sm mb-2">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="inputTitle">Title:</span>
                                </div>
                                <input type="text" class="form-control" aria-label="title" aria-describedby="inputTitle" style="text-align:right;" name="title" value="{{ archive_detail.title }}" />
                            </div>
                        </div>

                    </div>

                    <div class="row mb-2">

                        <div class="col">
                            <div class="input-group input-group-sm mb-2">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="inputDescription">Description:</span>
                                </div>
                                <input type="text" class="form-control" aria-label="description" aria-describedby="inputDescription" style="text-align:right;" name="description" value="{{ archive_detail.description }}" />
                            </div>
                        </div>

                    </div>

                    <div class="row mb-2">

                        <div class="col">
                            <div class="input-group input-group-sm mb-2">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="inputYear">Status:</span>
                                </div>
                                <input type="text" class="form-control" aria-label="status" aria-describedby="inputStatus" style="text-align:right;" name="status" value="{{ archive_detail.status }}" />
                            </div>
                        </div>

                    </div>

                    <div class="row mb-2">

                        <div class="col">
                            <div class="input-group input-group-sm mb-2">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="inputClientName">Client Name:</span>
                                </div>
                                <input class="form-control" aria-label="client_name" aria-describedby="inputClientName" style="text-align:right;" name="client_name" value="{{ archive_detail.client_name }}" />
                            </div>
                        </div>

                    </div>

                    <div class="row mb-2">

                        <div class="col">
                            <div class="input-group input-group-sm mb-2">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="inputCompDesc">Company Description:</span>
                                </div>
                                <input class="form-control" aria-label="client_desc" aria-describedby="inputCompDesc" style="text-align:right;" name="client_desc" value="{{ archive_detail.client_desc }}" />
                            </div>
                        </div>

                    </div>

                    <div class="row mb-2">

                        <div class="col">
                            <div class="input-group input-group-sm mb-2">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="inputCompWebs">Company Website:</span>
                                </div>
                                <input type="text" class="form-control" aria-label="client_website" aria-describedby="inputCompWebs" style="text-align:right;" name="client_website" value="{{ archive_detail.client_website }}" />
                            </div>
                        </div>

                    </div>

                    <div class="row mb-2">

                        <div class="col">
                            <div class="input-group input-group-sm mb-2">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="inputCompAddr">Company Address:</span>
                                </div>
                                <input type="text" class="form-control" aria-label="client_address" aria-describedby="inputCompAddr" style="text-align:right;" name="client_address" value="{{ archive_detail.client_address }}" />
                            </div>
                        </div>

                    </div>

                    <div class="row mb-2">

                        <div class="col">
                            <div class="input-group input-group-sm mb-2">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="inputContNam">Contact Name:</span>
                                </div>
                                <input type="text" class="form-control" aria-label="contact_name" aria-describedby="inputContName" style="text-align:right;" name="contact_name" value="{{ archive_detail.contact_name }}" />
                            </div>
                        </div>

                    </div>

                    <div class="row mb-2">

                        <div class="col">
                            <div class="input-group input-group-sm mb-2">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="inputContPhon">Contact Phone:</span>
                                </div>
                                <input type="text" class="form-control" aria-label="contact_phone" aria-describedby="inputContPhon" style="text-align:right;" name="contact_phone" value="{{ archive_detail.contact_phone }}" />
                            </div>
                        </div>

                    </div>

                    <div class="row mb-2">

                        <div class="col">
                            <div class="input-group input-group-sm mb-2">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="inputContEmai">Contact Email:</span>
                                </div>
                                <input type="text" class="form-control" aria-label="contact_email" aria-describedby="inputContEmai" style="text-align:right;" name="contact_email" value="{{ archive_detail.contact_email }}" />
                            </div>
                        </div>

                    </div>

                    <div class="row mb-2">

                        <div class="col">
                            <div class="input-group input-group-sm mb-2">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="inputContPosi">Contact Position:</span>
                                </div>
                                <input type="text" class="form-control" aria-label="contact_position" aria-describedby="inputContPosi" style="text-align:right;" name="contact_position" value="{{ archive_detail.contact_position }}" />
                            </div>
                        </div>

                    </div>

                    <div class="row mb-2">

                        <div class="col">
                            <div class="input-group input-group-sm mb-2">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="inputDepName">Department Name:</span>
                                </div>
                                <input type="text" class="form-control" aria-label="department_name" aria-describedby="inputDepName" style="text-align:right;" name="department_name" value="{{ archive_detail.department_name }}" />
                            </div>
                        </div>

                    </div>

                    <div class="row mb-2">

                        <div class="col">
                            <div class="input-group input-group-sm mb-2">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="inputDepPhone">Department Phone:</span>
                                </div>
                                <input type="text" class="form-control" aria-label="department_phone" aria-describedby="inputDepPhone" style="text-align:right;" name="department_phone" value="{{ archive_detail.department_phone }}" />
                            </div>
                        </div>

                    </div>

                    <div class="row mb-2">

                        <div class="col">
                            <div class="input-group input-group-sm mb-2">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="inputDepEmail">Department Email:</span>
                                </div>
                                <input type="text" class="form-control" aria-label="department_email" aria-describedby="inputDepEmail" style="text-align:right;" name="department_email" value="{{ archive_detail.department_email }}" />
                            </div>
                        </div>

                    </div>

                    <div class="row mb-2">

                        <div class="col">
                            <div class="input-group input-group-sm mb-2">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="inputSpec">Proposal Specialisation:</span>
                                </div>
                                <input type="text" class="form-control" aria-label="proposal_specialisation" aria-describedby="inputSpec" style="text-align:right;" name="proposal_specialisation" value="{{ archive_detail.proposal_specialisation }}" />
                            </div>
                        </div>

                    </div>

                    <div class="row mb-2">

                        <div class="col">
                            <div class="input-group input-group-sm mb-2">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="inputSkills">Proposal Skills:</span>
                                </div>
                                <input type="text" class="form-control" aria-label="proposal_skills" aria-describedby="inputSkills" style="text-align:right;" name="proposal_skills" value="{{ archive_detail.proposal_skills }}" />
                            </div>
                        </div>

                    </div>

                    <div class="row mb-2">

                        <div class="col">
                            <div class="input-group input-group-sm mb-2">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="inputEnviro">Proposal Environment:</span>
                                </div>
                                <input type="text" class="form-control" aria-label="proposal_environment" aria-describedby="inputEnviro" style="text-align:right;" name="proposal_environment" value="{{ archive_detail.proposal_environment }}" />
                            </div>
                        </div>

                    </div>

                    <div class="row mb-2">

                        <div class="col">
                            <div class="input-group input-group-sm mb-2">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="inputResearch">Proposal Research:</span>
                                </div>
                                <input type="text" class="form-control" aria-label="proposal_research" aria-describedby="inputResearch" style="text-align:right;" name="proposal_research" value="{{ archive_detail.proposal_research }}" />
                            </div>
                        </div>

                    </div>

                    <div class="row mb-2">

                        <div class="col">
                            <div class="input-group input-group-sm mb-2">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="inputSupName">Supervisor Name:</span>
                                </div>
                                <input type="text" class="form-control" aria-label="supervisor_name" aria-describedby="inputSupName" style="text-align:right;" name="supervisor_name" value="{{ archive_detail.supervisor_name }}" />
                            </div>
                        </div>

                    </div>

                    <div class="row mb-2">

                        <div class="col">
                            <div class="input-group input-group-sm mb-2">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="inputSupPhone">Supervisor Phone:</span>
                                </div>
                                <input type="text" class="form-control" aria-label="supervisor_phone" aria-describedby="inputSupPhone" style="text-align:right;" name="supervisor_phone" value="{{ archive_detail.supervisor_phone }}" />
                            </div>
                        </div>

                    </div>

                    <div class="row mb-2">

                        <div class="col">
                            <div class="input-group input-group-sm mb-2">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="inputSupEmail">Supervisor Email:</span>
                                </div>
                                <input type="text" class="form-control" aria-label="supervisor_email" aria-describedby="inputSupEmail" style="text-align:right;" name="supervisor_email" value="{{ archive_detail.supervisor_email }}" />
                            </div>
                        </div>

                    </div>

                    <div class="row mb-2">

                        <div class="col">
                            <div class="input-group input-group-sm mb-2">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="inputSupTitle">Supervisor Title:</span>
                                </div>
                                <input type="text" class="form-control" aria-label="supervisor_title" aria-describedby="inputSupTitle" style="text-align:right;" name="supervisor_title" value="{{ archive_detail.supervisor_title }}" />
                            </div>
                        </div>

                    </div>

                    <div class="row mb-2">
                        <div class="col text-right text-light">
                            <button class="btn btn-dark" type="submit" role="button" name="unarchive" value="unarchive" data-toggle="tooltip" title="Unarchive '{{ archive_detail.title }}'">Unarchive <i class="fa fa-save"></i></button>
                            <button class="btn btn-dark" type="button" name="delete" role="button" data-target="#deleteModal" data-toggle="modal" title="Delete '{{ archive_detail.title }}'">Delete <i class="fa fa-trash"></i></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-sm-1"></div>
        <div class="col-md-1"></div>
        <div class="col-lg-1"></div>
    </div>
</form>

{% endblock %}
