{% extends "proposal.html" %} {% block sub-page_content %}
  <h2>Archived Proposals</h2>
{% endblock %}


{% block page_detail_content %} 
<div class="card table-responsive shadow-sm">
    <table class="table table-hover">
        <tr class="table-primary">
          <th>ID</th>
          <th>Title</th>
          <th style="min-width: 120px">Client/Organisation Name</th>
          <th>Date</th>
        </tr>
        {% for proposal in archive_proposal %}
        <tr>
          <td>
            <a href="archive_detail/{{ proposal.pk }}">{{ proposal.pk }}</a>
          </td>
          <td>{{ proposal.title }}</td>
          <td>{{ proposal.client_name }}</td>
          <td>{{ proposal.created_at }}</td>
        </tr>
        {% endfor %}
      </table>
</div>        

{% endblock %}