{% extends "proposal.html" %} 

{% block sub-page_content %}

{% if not messages %}
<h2>Edit Archived Proposal Details</h2>
{% else %}
<h2>Edit Archived Proposal Details</h2>
{% for message in messages %}<li>{{ message }}</li>{% endfor %}
{% endif %}

{% endblock %}

{% block page_detail_content %}
<form method="POST">
    {% csrf_token %}

    <div class="row mb-2 mt-5">
        <div class="col-3"></div>

        <div class="col-5">
            <h1>{{ archive_detail.title }}</h1>
            <hr />
        </div>

        <div class="col-2">
            <a class="btn" role="button" type="submit" name="unarchive" value="unarchive" data-toggle="tooltip" title="Unarchive"><i class="fa fa-window-restore" style="font-size:25px"></i></a>
            <a class="btn" role="button" type="submit" name="delete" value="delete" data-toggle="tooltip" title="Delete"><i class="fa fa-trash" style="font-size:25px"></i></a>
        </div>

        <div class="col-2"></div>
    </div>

    <div class="row mb-2">
        <div class="col-3"></div>

        <div class="col">
            <div class="input-group input-group-sm mb-2">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="inputID">ID:</span>
                </div>
                <input type="text" class="form-control" aria-label="pk" aria-describedby="inputID" style="text-align:right;" name="pk" value="{{ archive_detail.pk }}"/>
            </div>
        </div>

        <div class="col-3"></div>
    </div>

    <div class="row mb-2">
        <div class="col-3"></div>

        <div class="col">
            <div class="input-group input-group-sm mb-2">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="inputTitle">Title:</span>
                </div>
                    <input type="text" class="form-control" aria-label="title" aria-describedby="inputTitle" style="text-align:right;" name="title" value="{{ archive_detail.title }}"/>
                </div>
            </div>

        <div class="col-3"></div>
    </div>

    <div class="row mb-2">
        <div class="col-3"></div>

        <div class="col">
            <div class="input-group input-group-sm mb-2">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="inputDescription">Description:</span>
                </div>
                <input type="text" class="form-control" aria-label="description" aria-describedby="inputDescription" style="text-align:right;" name="description" value="{{ archive_detail.description }}"/>
            </div>
        </div>

        <div class="col-3"></div>
    </div>

    <div class="row mb-2">
        <div class="col-3"></div>

        <div class="col">
            <div class="input-group input-group-sm mb-2">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="inputYear">Status:</span>
                </div>
                <input type="text" class="form-control" aria-label="status" aria-describedby="inputStatus" style="text-align:right;" name="status" value="{{ archive_detail.status }}"/>
            </div>
        </div>

        <div class="col-3"></div>
    </div>

    <div class="row mb-2">
        <div class="col-3"></div>

        <div class="col">
            <div class="input-group input-group-sm mb-2">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="inputClientName">Client Name:</span>
                </div>
                <input class="form-control" aria-label="cliname" aria-describedby="inputClientName" style="text-align:right;" name="cliname" value="{{ archive_detail.client.name }}"/>
            </div>
        </div>

        <div class="col-3"></div>
    </div>

    <div class="row mb-2">
        <div class="col-3"></div>

        <div class="col">
            <div class="input-group input-group-sm mb-2">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="inputCompDesc">Company Description:</span>
                </div>
                <input class="form-control" aria-label="compdesc" aria-describedby="inputCompDesc" style="text-align:right;" name="compdesc" value="{{ archive_detail.client.company.description }}"/>
            </div>
        </div>

        <div class="col-3"></div>
    </div>

    <div class="row mb-2">
        <div class="col-3"></div>

        <div class="col">
            <div class="input-group input-group-sm mb-2">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="inputCompWebs">Company Website:</span>
                </div>
                <input type="text" class="form-control" aria-label="compwebs" aria-describedby="inputCompWebs" style="text-align:right;" name="compwebs" value="{{ archive_detail.client.company.website }}"/>
            </div>
        </div>

        <div class="col-3"></div>
    </div>

    <div class="row mb-2">
        <div class="col-3"></div>

        <div class="col-6">
            <div class="input-group input-group-sm mb-2">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="inputCompAddr">Company Address:</span>
                </div>
                <input type="text" class="form-control" aria-label="compaddr" aria-describedby="inputCompAddr" style="text-align:right;" name="compaddr" value="{{ archive_detail.client.company.address }}"/>
            </div>
        </div>

        <div class="col-3"></div>
    </div>

    <div class="row mb-2">
        <div class="col-3"></div>

        <div class="col-6">
            <div class="input-group input-group-sm mb-2">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="inputContNam">Contact Name:</span>
                </div>
                <input type="text" class="form-control" aria-label="contname" aria-describedby="inputContName" style="text-align:right;" name="contname" value="{{ archive_detail.client.contact.name }}"/>
            </div>
        </div>

        <div class="col-3"></div>
    </div>

    <div class="row mb-2">
        <div class="col-3"></div>

        <div class="col-6">
            <div class="input-group input-group-sm mb-2">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="inputContPhon">Contact Phone:</span>
                </div>
                <input type="text" class="form-control" aria-label="contphon" aria-describedby="inputContPhon" style="text-align:right;" name="contphon" value="{{ archive_detail.client.contact.phone }}"/>
            </div>
        </div>

        <div class="col-3"></div>
    </div>

    <div class="row mb-2">
        <div class="col-3"></div>

        <div class="col-6">
            <div class="input-group input-group-sm mb-2">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="inputContEmai">Contact Email:</span>
                </div>
                <input type="text" class="form-control" aria-label="contemai" aria-describedby="inputContEmai" style="text-align:right;" name="contemai" value="{{ archive_detail.client.contact.email }}"/>
            </div>
        </div>

        <div class="col-3"></div>
    </div>

    <div class="row mb-2">
        <div class="col-3"></div>

        <div class="col-6">
            <div class="input-group input-group-sm mb-2">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="inputContPosi">Contact Position:</span>
                </div>
                <input type="text" class="form-control" aria-label="contposi" aria-describedby="inputContPosi" style="text-align:right;" name="contposi" value="{{ archive_detail.client.contact.position }}"/>
            </div>
        </div>

        <div class="col-3"></div>
    </div>

    <div class="row mb-2">
        <div class="col-3"></div>

        <div class="col-6">
            <div class="input-group input-group-sm mb-2">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="inputDepName">Department Name:</span>
                </div>
                <input type="text" class="form-control" aria-label="depname" aria-describedby="inputDepName" style="text-align:right;" name="depname" value="{{ archive_detail.client.department.name }}"/>
            </div>
        </div>

        <div class="col-3"></div>
    </div>

    <div class="row mb-2">
        <div class="col-3"></div>

        <div class="col-6">
            <div class="input-group input-group-sm mb-2">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="inputDepPhone">Department Phone:</span>
                </div>
                <input type="text" class="form-control" aria-label="depphone" aria-describedby="inputDepPhone" style="text-align:right;" name="depphone" value="{{ archive_detail.client.department.phone }}"/>
            </div>
        </div>

        <div class="col-3"></div>
    </div>

    <div class="row mb-2">
        <div class="col-3"></div>

        <div class="col-6">
            <div class="input-group input-group-sm mb-2">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="inputDepEmail">Department Email:</span>
                </div>
                <input type="text" class="form-control" aria-label="depemail" aria-describedby="inputDepEmail" style="text-align:right;" name="depemail" value="{{ archive_detail.client.department.email }}"/>
            </div>
        </div>

        <div class="col-3"></div>
    </div>

    <div class="row mb-2">
        <div class="col-3"></div>

        <div class="col-6">
            <div class="input-group input-group-sm mb-2">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="inputSpec">Proposal Specialisation:</span>
                </div>
                <input type="text" class="form-control" aria-label="spec" aria-describedby="inputSpec" style="text-align:right;" name="spec" value="{{ archive_detail.spec }}"/>
            </div>
        </div>

        <div class="col-3"></div>
    </div>

    <div class="row mb-2">
        <div class="col-3"></div>

        <div class="col-6">
            <div class="input-group input-group-sm mb-2">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="inputSkills">Proposal Skills:</span>
                </div>
                <input type="text" class="form-control" aria-label="skills" aria-describedby="inputSkills" style="text-align:right;" name="skills" value="{{ archive_detail.proposal_skills }}"/>
            </div>
        </div>

        <div class="col-3"></div>
    </div>

    <div class="row mb-2">
        <div class="col-3"></div>

        <div class="col-6">
            <div class="input-group input-group-sm mb-2">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="inputEnviro">Proposal Environment:</span>
                </div>
                <input type="text" class="form-control" aria-label="enviro" aria-describedby="inputEnviro" style="text-align:right;" name="enviro" value="{{ archive_detail.proposal_environment }}"/>
            </div>
        </div>

        <div class="col-3"></div>
    </div>

    <div class="row mb-2">
        <div class="col-3"></div>

        <div class="col-6">
            <div class="input-group input-group-sm mb-2">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="inputResearch">Proposal Research:</span>
                </div>
                <input type="text" class="form-control" aria-label="research" aria-describedby="inputResearch" style="text-align:right;" name="research" value="{{ archive_detail.proposal_research }}"/>
            </div>
        </div>

        <div class="col-3"></div>
    </div>

    <div class="row mb-2">
        <div class="col-3"></div>

        <div class="col-6">
            <div class="input-group input-group-sm mb-2">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="inputGroupSize">Contact Position:</span>
                </div>
                <input type="text" class="form-control" aria-label="contposi" aria-describedby="inputContPosi" style="text-align:right;" name="contposi" value="{{ archive_detail.client.contact.position }}"/>
            </div>
        </div>

        <div class="col-3"></div>
    </div>

    <div class="row mb-2">
        <div class="col-3"></div>

        <div class="col-6">
            <div class="input-group input-group-sm mb-2">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="inputSupName">Supervisor Name:</span>
                </div>
                <input type="text" class="form-control" aria-label="supname" aria-describedby="inputSupName" style="text-align:right;" name="supname" value="{{ archive_detail.supervisor.name }}"/>
            </div>
        </div>

        <div class="col-3"></div>
    </div>

    <div class="row mb-2">
        <div class="col-3"></div>

        <div class="col-6">
            <div class="input-group input-group-sm mb-2">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="inputSupPhone">Supervisor Phone:</span>
                </div>
                <input type="text" class="form-control" aria-label="supphone" aria-describedby="inputSupPhone" style="text-align:right;" name="supphone" value="{{ archive_detail.supervisor.phone }}"/>
            </div>
        </div>

        <div class="col-3"></div>
    </div>

    <div class="row mb-2">
        <div class="col-3"></div>

        <div class="col-6">
            <div class="input-group input-group-sm mb-2">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="inputSupEmail">Supervisor Email:</span>
                </div>
                <input type="text" class="form-control" aria-label="supemail" aria-describedby="inputSupEmail" style="text-align:right;" name="supemail" value="{{ archive_detail.supervisor.email }}"/>
            </div>
        </div>

        <div class="col-3"></div>
    </div>

    <div class="row mb-2">
        <div class="col-3"></div>

        <div class="col-6">
            <div class="input-group input-group-sm mb-2">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="inputSupTitle">Supervisor Title:</span>
                </div>
                <input type="text" class="form-control" aria-label="suptitle" aria-describedby="inputSupTitle" style="text-align:right;" name="suptitle" value="{{ archive_detail.supervisor.title }}"/>
            </div>
        </div>

        <div class="col-3"></div>
    </div>
</form>

{% endblock %}