{% extends "client.html" %} {% block sub-page_content %}
  <h2>Client List</h2>
{% endblock %}

{% block page_detail_content %}
<div class="row mb-2">
    <div class="col-12">
        <form method="POST" class="form-inline bg-white rounded shadow-sm pt-2 pl-3 border">
            {% csrf_token %}
            <div class="form-group mb-2 mr-3">
                <label class="font-weight-bold">Search</label>
            </div>
            <div class="form-group mb-2 mr-1">
                <input type="text" class="form-control" placeholder="Filter by client id, client name..." name="client_list" value="{{ filter_value }}" style="width: 500px"/>
            </div>
            <div class="form-group mb-2">
                <button class="btn btn-primary" type="submit"><i class="ti-search"></i></button>
            </div>
        </form>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <div class="table-responsive card shadow-sm">
            <table class="table table-hover">
              <thead>
                  <tr class="table-primary">
                      <th>ID</th>
                      <th>Client/Organisation Name</th>
                      <th>Date</th>
                      <th>Contact Name</th>
                      <th>Department</th>
                    </tr>
              </thead>
              <tbody>
                  {% for client in client_filter %}
                  <tr>
                    <td>
                      <a href="client_detail/{{ client.pk }}">{{ client.pk }}</a>
                    </td>
                    <td>{{ client.name }}</td>
                    <td>{{ client.updated_at }}</td>
                    <td>{{ client.contact.name }}</td>
                    <td>{{ client.contact.department.name }}</td>
                  </tr>
                  {% endfor %}
              </tbody>
            </table>
        </div>
    </div>    
</div>

{% endblock %}