{% extends "index.html" %}

{% block index_page_content %}
<div class="row bg-light border rounded mt-2 mb-4 shadow-sm">
  <div class="col-12 mt-2">
    <div class="text-center text-secondary">
        <!--Page title-->
        {% block sub-page_content %}
        {% endblock %}
    </div>
  </div>
</div>

<!--Sub menu-->
<div class="row">
  <div class="col-3" style="padding-left: 0; padding-right: 15px">
      <div class="card shadow-sm">
          <div class="text-center border-bottom mt-2 text-secondary">
            <h3>Menu</h3>
          </div>
          <div style="font-size: 1.2em">
            <p class="m-4"><a href="{% url 'new_client' %}">Make New Client</a></p>
            <p class="m-4"><a href="{% url 'client_list' %}">Client List</a></p>
          </div>
        </div>
  </div>
  <div class="col-9" style="padding-left: 0; padding-right: 0">
      <!--Main content-->
      {% block page_detail_content %}
      {% endblock %}
  </div>
</div>

    <!--Make related tab active-->
    <script>
      window.addEventListener('load', function() {
        document.getElementById('proposal_li').classList.remove('active');
        document.getElementById('project_li').classList.remove('active');
        document.getElementById('client_li').classList.add('active');
      });
    </script>
    
{% endblock %}