{% extends "client.html" %}

{% block sub-page_content %}
<div class="container-fluid">
    <div class="row">
        <form method="POST">{% csrf_token %}
            <div class="row mt-1" style="position:absolute; left:93%; height:50px;">
                <button type="submit" name="save" value="save">
                    <i class="fas fa-save" style="font-size:25px"></i>
                </button>
                <button type="submit" name="delete" value="delete">
                    <i class="fa fa-trash" style="font-size:25px"></i>
                </button>
            </div>

            <div class="row m-5 " style="font-family:Segoe UI; color:#000000; font-size:16px">
                
                <div class="col-3"></div>
                <div class="col-6">
                    <h1>Edit Client Details</h1>
                    <hr />
                </div>
                <div class="col-3"></div>
                
                <div class="col-3"></div> 
                <div class="col-2">
                    <div class="input-group input-group-sm mb-2">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="inputID">Client ID:</span>
                        </div>
                        <input type="text" class="form-control" aria-label="pk" aria-describedby="inputID" style="text-align:right;" name="pk" value="{{ client_detail.pk }}"/>
                    </div>
                </div>
                <div class="col-4">
                    <div class="input-group input-group-sm mb-2">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="inputName">Client Name:</span>
                        </div>
                        <input type="text" class="form-control" aria-label="name" aria-describedby="inputName" style="text-align:right;" name="name" value="{{ client_detail.name }}"/>
                        <hr />
                    </div>
                </div>
                <div class="col-3"></div>
                
                <div class="col-3"></div> 
                <div class="col-3">
                    <div class="input-group input-group-sm mb-2">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="inputCompName">Company Name:</span>
                        </div>
                        <input type="text" class="form-control" aria-label="company_name" aria-describedby="inputCompName" style="text-align:right;" name="company_name" value="{{ client_detail.department.company.name }}"/>
                    </div>
                </div>
                <div class="col-3">
                    <div class="input-group input-group-sm mb-2">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="inputCompAdd">Company Address:</span>
                        </div>
                        <input type="text" class="form-control" aria-label="company_address" aria-describedby="inputCompAdd" style="text-align:right;" name="company_address" value="{{ client_detail.department.company.address }}"/>
                    </div>
                </div>
                <div class="col-3"></div>
                
                <div class="col-3"></div> 
                <div class="col-6">
                    <div class="input-group input-group-sm mb-2">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="inputCompWeb">Company Website:</span>
                        </div>
                        <input type="text" class="form-control" aria-label="company_website" aria-describedby="inputCompWeb" style="text-align:right;" name="company_website" value="{{ client_detail.department.company.website }}"/>
                    </div>
                </div>
                <div class="col-3"></div>
                
                <div class="col-3"></div> 
                <div class="col-6">
                    <div class="form-group mb-2">
                            <label for="inputCompDesc" class="input-group-text" id="inputCompDesc" >Company Description:</label>
                        <textarea class="form-control" rows="5" id="inputCompDesc" aria-label="company_description" aria-describedby="inputCompDesc" style="text-align:left;" name="company_description" value="{{ client_detail.department.company.description }}"></textarea>
                    </div>
                </div>
                <div class="col-3"></div>
                
                <div class="col-3"></div> 
                <div class="col-3">
                    <div class="input-group input-group-sm mb-2">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="inputDepName">Department Name:</span>
                        </div>
                        <input type="text" class="form-control" aria-label="department_name" aria-describedby="inputDepName" style="text-align:right;" name="department_name" value="{{ client_detail.department.name }}"/>
                    </div>
                </div>
                <div class="col-3">
                    <div class="input-group input-group-sm mb-2">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="inputDepPhone">Department Phone:</span>
                        </div>
                        <input type="text" class="form-control" aria-label="department_phone" aria-describedby="inputDepPhone" style="text-align:right;" name="department_phone" value="{{ client_detail.department.phone }}"/>
                    </div>
                </div>
                
                <div class="col-3"></div>
                
                <div class="col-3"></div> 
                <div class="col-6">
                    <div class="input-group input-group-sm mb-2">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="inputDepEmail">Department Email:</span>
                        </div>
                        <input type="text" class="form-control" aria-label="department_email" aria-describedby="inputDepEmail" style="text-align:right;" name="department_email" value="{{ client_detail.department.email }}"/>
                    </div>
                </div>
                <div class="col-3"></div>
                
                <div class="col-3"></div> 
                <div class="col-3">
                    <div class="input-group input-group-sm mb-2">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="inputContName">Contact Name:</span>
                        </div>
                        <input type="text" class="form-control" aria-label="contact_name" aria-describedby="inputContName" style="text-align:right;" name="contact_name" value="{{ client_detail.contact.name }}"/>
                    </div>
                </div>
                <div class="col-3">
                    <div class="input-group input-group-sm mb-2">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="inputContPos">Contact Position:</span>
                        </div>
                        <input type="text" class="form-control" aria-label="contact_position" aria-describedby="inputContPos" style="text-align:right;" name="contact_position" value="{{ client_detail.contact.position }}"/>
                    </div>
                </div>
                <div class="col-3"></div>
                
                <div class="col-3"></div>
                <div class="col-6">
                    <div class="input-group input-group-sm mb-2">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="inputContPhone">Contact Phone:</span>
                        </div>
                        <input type="text" class="form-control" aria-label="contact_phone" aria-describedby="inputContPhone" style="text-align:right;" name="contact_phone" value="{{ client_detail.contact.phone }}"/>
                    </div>
                </div>
                <div class="col-3"></div>
                
                <div class="col-3"></div> 
                <div class="col-6">
                    <div class="input-group input-group-sm mb-2">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="inputContEmail">Contact Email:</span>
                        </div>
                        <input type="text" class="form-control" aria-label="contact_email" aria-describedby="inputContEmail" style="text-align:right;" name="contact_email" value="{{ client_detail.contact.email }}"/>
                    </div>
                </div>
                <div class="col-3"></div>                
            </div>
        </form>
    </div>
</div>

{% endblock %}