{% extends "client.html" %}

{% block sub-page_content %}
<div class="container-fluid">
    <div class="row mb-5 mt-5">
        <div class="col-1"></div>
        <div class="col-5">
            <h1>Client Details</h1>
            <hr />
        </div>
        <div class="col-5">
            <h1>Client Proposals</h1>
            <hr />
        </div>
        <div class="col-1"></div>
    </div>
    <div class="row mb-5">
        <div class="col-1">
        </div>
        <div class="card card-body bg-light col-1">
            <div class="well" value="{{ client_detail.pk }}"><strong>ID: </strong>{{ client_detail.pk }}</div>
        </div>
        <div class="card card-body bg-light col-2">
            <p value="{{ client_detail.name }}"><strong>Name: </strong>{{client_detail.name }}</p>
        </div>
        <div class="card card-body bg-light col-2">
            <p value="{{ client_detail.department.company.name }}"><strong>Company Name: </strong>{{ client_detail.department.company.name }}</p>
        </div>
        <div class="col-5">
        </div>
        <div class="col-1"></div>
    </div>
    <div class="row mb-5">
        <div class="col-1"></div>
        <div class="card card-body bg-light col-3">
            <p value="{{ client_detail.department.company.address }}"><strong>Company Address: </strong>{{ client_detail.department.company.address }}</p>
        </div>
        <div class="card card-body bg-light col-2">
            <p value="{{ client_detail.department.company.website }}"><strong>Company Website: </strong>{{ client_detail.department.company.website }}</p>
        </div>
        <div class="col-5"></div>
        <div class="col-1"></div>
    </div>
    <div class="row mb-5">
        <div class="col-1"></div>
        <div class="card card-body bg-light col-5">
            <p value="{{ client_detail.department.company.description }}"><strong>Company Description: </strong>{{ client_detail.department.company.description }}</p>
        </div>
        <div class="col-6"></div>
    </div>
    <div class="row mb-5">
        <div class="col-1"></div>
        <div class="card card-body bg-light col-2"></div>
    </div>
</div>

{% endblock %}