{% extends "client.html" %}

{% block sub-page_content %}
<div class="container-fluid">
	<div class="row">
        <div class="col-1"></div>
		<div class="col-10">
			<table class="table table-bordered">
				<tr style="text-align:center; background-color:#C0C0C0">
					<th style="width:10%"><strong>CLIENT ID</strong></th>
					<th style="width:25%"><strong>CLIENT NAME</strong></th>
					<th style="width:25%"><strong>COMPANY</strong></th>
					<th style="width:15%"><strong>CONTACT NAME</strong></th>
					<th style="width:25%"><strong>DEPARTMENT</strong></th>
				</tr>
				{% for client in client_filter %}
				<tr style="text-align:center">
					<td><a href="client_detail/{{client.pk}}">{{ client.pk }}</a></td>
					<td>{{ client }}</td>
					<td>{{ client.department.company }}</td>
					<td>{{ client.contact }}</td>
					<td>{{ client.contact.department }}</td>
				</tr>
				{% endfor %}
			</table>
		</div>
        <div class="col-1"></div>
	</div>
</div>

{% endblock %}