{% extends "proposal.html" %}

{% block sub-page_content %}
<div class="container-fluid">
	<div class="row">
		<div class="d-flex justify-content-center w-100 " style="background-color:#8B0000; height:50px">
			<form>
				<p style="color:#FFFFFF; font-size:24px">
					<strong>Search: </strong>
					<input type="text" style="font-size:20px" placeholder="Load the path of word-structured proposal..." name="search_path">
					<button type="submit"><i class="far fa-folder-open" style="font-size:20px"></i></button>
				</p>
			</form>
		</div>
	</div>
	<div class="row">
		<div class="d-flex justify-content-center mx-auto w-100">
			<table class="table table-bordered">
				<tr style="text-align:center; background-color:#C0C0C0">
					<th style="width:10%"><strong>ID</strong></th>
					<th style="width:40%"><strong>TITLE</strong></th>
					<th style="width:30%"><strong>CLIENT NAME</strong></th>
					<th style="width:20%"><strong>DATE</strong></th>
				</tr>
				{% for proposal in web_proposal %}
				<tr style="text-align:center">
					<td><a href="proposal_extract/{{ proposal.pk }}">{{ proposal.pk }}</a></td>
					<td>{{ proposal.title }}</td>
					<td>{{ proposal.client_name }}</td>
					<td>{{ proposal.created_at }}</td>
				</tr>
				{% endfor %}
			</table>
	</div>
</div>
{% endblock %}