{% extends "proposal.html" %}

{% block sub-page_content %}     
      <div class="search-container" style="position:absolute; top:100px; left:15%; height:70px; width:60%; font-family:Segoe UI">
        <form>
          <p style="color:#FFFFFF; font-size:24px"><strong>Search: </strong>
          <input type="text" style="width:70%; font-size:20px" placeholder="Load the path of word-structured proposal..." name="search_path">
          <button type="submit"><i class="far fa-folder-open" style="font-size:20px"></i></button></p>
        </form>
      </div>

{% endblock %}