{% extends "base.html" %}

{% block page_content %}
<div class="row shadow-sm">
  <div class="col-12">
      <nav class="navbar navbar-expand-sm bg-primary navbar-dark" style="font-size: 1.5em">
        <!-- Brand -->
        <a class="navbar-brand" href="#" style="font-size: 1.2em"><i class="ti-agenda mr-2 text-warning"></i>Project Management</a>

          <ul class="navbar-nav ml-auto text-center">
            <li class="nav-item mr-3" id="proposal_li">
              <a class="nav-link" href="{% url 'incoming_proposal' %}">Proposal</a>
            </li>
            <li class="nav-item mr-3" id="project_li">
              <a class="nav-link" href="{% url 'project_list' %}">Project</a>
            </li>
            <li class="nav-item mr-3" id="client_li">
              <a class="nav-link" href="{% url 'client_list' %}">Client</a>
            </li>
            <li class="nav-item mr-3">
              <a class="nav-link text-light" href="{% url 'proposal_list' %}">{{ count.2 }} <i class="fas fa-user-circle"></i></a>
            </li>
          </ul>
        </nav>
  </div>
</div>

<div class="row m-3">
  <div class="col-12">
    <!--The rest of the page-->
    {% block index_page_content %} 
    {% endblock %}
  </div>
</div>
{% endblock %}