{% extends "base.html" %}
{% block page_content %}

<div class="container-fluid">
	<div class="row">
		<nav class="navbar navbar-static-top navbar-expand-sm bg-dark navbar-dark w-100" style="height:90px">
            <a class="navbar-brand" style="font-size: 1.2em" href="#">Capstone Project Management</a>
            
			<ul class="navbar-nav ml-auto">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" id="proposal_li" data-toggle="dropdown" style="font-size:20px;" href="{% url 'incoming_proposal' %}">
                            <strong>Proposals</strong>
                        </a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="{% url 'incoming_proposal' %}">Incoming Proposals  - {{ count.0 }}</a>
                            <a class="dropdown-item" href="{% url 'word_proposal' %}">Import Proposal - {{ count.1 }}</a>
                            <a class="dropdown-item" href="{% url 'proposal_list' %}">Proposal List</a>
                            <a class="dropdown-item" href="{% url 'proposal_progress' %}">Proposal Progress</a>
                            <a class="dropdown-item" href="{% url 'archive_proposal' %}">Archived Proposals</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" id="project_li" data-toggle="dropdown" style="font-size:20px;" href="{% url 'project_list' %}">
                            <strong>Projects</strong>
                        </a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="{% url 'project_list' %}">Project List</a>
                        </div>
                    </li>
                <div class="col">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" id="client_li" data-toggle="dropdown" style="font-size:20px;" href="{% url 'client_list' %}">
                            <strong>Clients</strong>
                        </a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="{% url 'new_client' %}">New Client</a>
                            <a class="dropdown-item" href="{% url 'client_list' %}">Client List</a>
                        </div>
                    </li>
                </div>   
                    <li class="nav-item dropdown">
                        <a class="nav-link text-light" href="{% url 'proposal_list' %}">{{ count.2 }} <i class="fas fa-user-circle"></i></a>
                    </li>
				<li class="nav-item dropdown dropleft">
                    <a class="btn" role="button" data-toggle="dropdown" id="navbardrop"><i class="fas fa-user-circle" data-toggle="tooltip" title="Profile" style="font-size:36px; width:50px; color:#D3D3D3"></i></a>
					<div class="dropdown-menu">
						<a class="dropdown-item" href="{% url 'change_pw' %}">Change Password</a>
						<a class="dropdown-item" href="{% url 'adduser' %}">Add New User</a>
						<a class="dropdown-item" href="{% url 'profile-edit' %}">User Pofile</a>
						<a class="dropdown-item" href="{% url 'logout' %}">Logout</a>
					</div>
				</li>
			</ul>
        </nav>
    </div>
</div>

    {% block index_page_content %}

    {% endblock %}

{% endblock %}