{% extends "base.html" %}
{% block page_content %}

<nav class="navbar navbar-expand-md bg-dark navbar-dark" style="font-size:20px;">
    <!-- Brand -->
    <a class="navbar-brand" href="{% url 'index' %}">Capstone Project Management</a>

    <!-- Links -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
    </button>
    
    <div class="collapse navbar-collapse justify-content-end" id="collapsibleNavbar">
        <div class="navbar-nav">

            <div class="nav-item dropdown m-1">
                <button class="btn dropdown-toggle" id="proposal_li" data-toggle="dropdown" href="{% url 'incoming_proposal' %}">
                    <strong>Proposals</strong>
                </button>
                <div class="dropdown-menu dropdown-menu-right">
                    <a class="dropdown-item" href="{% url 'incoming_proposal' %}">Incoming Proposals <span class="badge badge-secondary" href="{% url 'proposal_list' %}">{{ count.0 }}</span></a>
                    <a class="dropdown-item" href="{% url 'word_proposal' %}">Import Proposal <span class="badge badge-secondary" href="{% url 'proposal_list' %}">{{ count.1 }}</span></a>
                    <a class="dropdown-item" href="{% url 'proposal_list' %}">Proposal List</a>
                    <a class="dropdown-item" href="{% url 'proposal_stage_create' %}">Create Proposal Stages</a>
                    <a class="dropdown-item" href="{% url 'archive_proposal' %}">Archived Proposals</a>
                </div>
            </div>

            <div class="nav-item dropdown m-1">
                <button class="btn dropdown-toggle" id="project_li" data-toggle="dropdown" href="{% url 'project_list' %}">
                    <strong>Projects</strong>
                </button>
                <div class="dropdown-menu dropdown-menu-right">
                    <a class="dropdown-item" href="{% url 'project_list' %}">Project List</a>
                </div>
            </div>

            <div class="nav-item dropdown m-1">
                <button class="btn dropdown-toggle" id="client_li" data-toggle="dropdown" href="{% url 'client_list' %}">
                    <strong>Clients</strong>
                </button>
                <div class="dropdown-menu dropdown-menu-right">
                    <a class="dropdown-item" href="{% url 'new_client' %}">New Client</a>
                    <a class="dropdown-item" href="{% url 'client_list' %}">Client List</a>
                </div>
            </div>

            <div class="nav-item dropdown m-1">
                <button class="btn dropdown-toggle" id="admin_li" data-toggle="dropdown" href="{% url 'client_list' %}">
                    <strong>Admin</strong>
                </button>
                <div class="dropdown-menu dropdown-menu-right">
                    <a class="dropdown-item" href="{% url 'create_student' %}">New Student</a>
                    <a class="dropdown-item" href="{% url 'create_unit' %}">New Unit</a>
                    <a class="dropdown-item" href="{% url 'create_internal_supervisor' %}">New Internal Supervisor</a>
                </div>
            </div>

            <li class="nav-item m-1">
                <a class="btn btn-light" href="{% url 'proposal_list' %}"><strong>{{ count.2 }}</strong></a>
            </li>

            <div class="nav-item dropdown m-1">
                <button class="btn dropdown-toggle" data-toggle="dropdown" id="user_li"><i class="fas fa-user-circle"></i></button>
                <div class="dropdown-menu dropdown-menu-right">
                    <a class="dropdown-item" href="{% url 'change_pw' %}">Change Password</a>
                    <a class="dropdown-item" href="{% url 'adduser' %}">Add New User</a>
                    <a class="dropdown-item" href="{% url 'profile-edit' %}">User Pofile</a>
                    <a class="dropdown-item" href="{% url 'logout' %}">Logout</a>
                </div>
            </div>
        </div>
    </div>
</nav>

{% block index_page_content %}

{% endblock %}

{% endblock %}
