{% extends "client.html" %}

{% block new_subpage_content %}
      <form method="POST">{% csrf_token %}
          <div style="position:absolute; left:96%; top:105px; height:70px;">
              <button type="submit" name="save" value="save"><i class="fas fa-save" style="font-size:25px"></i></button>
          </div>
          
          <div style="position:absolute; top:170px; left:18%; font-family:Segoe UI; color:#000000; font-size:16px">
              <h1>Client Detail</h1>
              <hr><br>
              <p>Client ID: <input type="text" style="left:45%; width:500px; text-align:right;" name="pk" value="{{ pk }}"></p>
              <p>Client Name: <input type="text" style="left:45%; width:500px; text-align:right;" name="name" value="{{ name }}"></p>
              <p>Company Name: <input type="text" style="left:45%; width:500px; text-align:right;" name="company_name" value="{{ company_name }}"></p>
              <p>Company Address: <input type="text" style="left:45%; width:500px; text-align:right;" name="company_address" value="{{ company_address }}"></p>
              <p>Company Website: <input type="text" style="left:45%; width:500px; text-align:right;" name="company_website" value="{{ company_website }}"></p>
              <p>Company Description: <input type="text" style="left:45%; width:500px; text-align:right;" name="company_description" value="{{ company_description }}"></p>
              <p>Department Name: <input type="text" style="left:45%; width:500px; text-align:right;" name="department_name" value="{{ department_name }}"></p>
              <p>Department Phone: <input type="text" style="left:45%; width:500px; text-align:right;" name="department_phone" value="{{ department_phone }}"></p>
              <p>Department Email: <input type="text" style="left:45%; width:500px; text-align:right;" name="department_email" value="{{ department_email }}"></p>
              <p>Contact Name: <input type="text" style="left:45%; width:500px; text-align:right;" name="contact_name" value="{{ contact_name }}"></p>
              <p>Contact Position: <input type="text" style="left:45%; width:500px; text-align:right;" name="contact_position" value="{{ contact_position }}"></p>
              <p>Contact Phone: <input type="text" style="left:45%; width:500px; text-align:right;" name="contact_phone" value="{{ contact_phone }}"></p>
              <p>Contact Email: <input type="text" style="left:45%; width:500px; text-align:right;" name="contact_email" value="{{ contact_email }}"></p>
          </div>
      </form>

{% endblock %}