{% extends "client.html" %}

{% block sub-page_content %}

{% if not messages %}
<h2>New Client</h2>
{% else %}
<h2>New Client</h2>
{% for message in messages %}<li>{{ message }}</li>{% endfor %}
{% endif %}

{% endblock %}

{% block page_detail_content %}

<form method="POST">
    {% csrf_token %}
    <div class="row mb-2">

        <div class="col-lg-1"></div>
        <div class="col-md-1"></div>
        <div class="col-sm-1"></div>

        <div class="col">
            <div class="card">
                <h3 class="card-header">New Client Details</h3>

                <div class="card-body">

                    <div class="row mb-2">
                        <div class="col">
                            <div class="input-group input-group-sm">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="client_name">Client Name:</span>
                                </div>
                                <input type="text" class="form-control" aria-label="client_name" aria-describedby="client_name" style="text-align:right;" name="client_name" value="{{ client_name }}" />
                            </div>
                        </div>
                    </div>

                    <div class="row mb-2">
                        <div class="col">
                            <div class="input-group input-group-sm">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="client_website">Company Website:</span>
                                </div>
                                <input type="text" class="form-control" aria-label="client_website" aria-describedby="client_website" style="text-align:right;" name="client_website" value="{{ client_website }}" />
                            </div>
                        </div>
                    </div>

                    <div class="row mb-2">
                        <div class="col">
                            <div class="input-group input-group-sm">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="client_address">Company Address:</span>
                                </div>
                                <input type="text" class="form-control" aria-label="client_address" aria-describedby="client_address" style="text-align:right;" name="client_address" value="{{ client_address }}" />
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col">
                            <div class="form-group">
                                <label for="inputCompDesc" class="input-group-text" id="client_description">Company Description:</label>
                                <textarea class="form-control" rows="5" id="client_description" aria-label="client_description" aria-describedby="inputCompDesc" style="text-align:left;" name="client_description" value="{{ client_description }}"></textarea>
                            </div>
                        </div>
                    </div>

                    <div class="row mb-2">
                        <div class="col">
                            <div class="input-group input-group-sm">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="department_name">Department Name:</span>
                                </div>
                                <input type="text" class="form-control" aria-label="department_name" aria-describedby="department_name" style="text-align:right;" name="department_name" value="{{ department_name }}" />
                            </div>
                        </div>
                    </div>

                    <div class="row mb-2">
                        <div class="col">
                            <div class="input-group input-group-sm">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="department_phone">Department Phone:</span>
                                </div>
                                <input type="text" class="form-control" aria-label="client_department_phone" aria-describedby="department_phone" style="text-align:right;" name="department_phone" value="{{ department_phone }}" />
                            </div>
                        </div>
                    </div>

                    <div class="row mb-2">
                        <div class="col">
                            <div class="input-group input-group-sm">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="department_email">Department Email:</span>
                                </div>
                                <input type="text" class="form-control" aria-label="department_email" aria-describedby="department_email" style="text-align:right;" name="department_email" value="{{ department_email }}" />
                            </div>
                        </div>
                    </div>

                    <div class="row mb-2">
                        <div class="col">
                            <div class="input-group input-group-sm">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="client_contact_name">Contact Name:</span>
                                </div>
                                <input type="text" class="form-control" aria-label="contact_name" aria-describedby="contact_name" style="text-align:right;" name="contact_name" value="{{ contact_name }}" />
                            </div>
                        </div>
                    </div>

                    <div class="row mb-2">
                        <div class="col">
                            <div class="input-group input-group-sm">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="contact_position">Contact Position:</span>
                                </div>
                                <input type="text" class="form-control" aria-label="contact_position" aria-describedby="contact_position" style="text-align:right;" name="contact_position" value="{{ contact_position }}" />
                            </div>
                        </div>
                    </div>

                    <div class="row mb-2">
                        <div class="col">
                            <div class="input-group input-group-sm">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="contact_phone">Contact Phone:</span>
                                </div>
                                <input type="text" class="form-control" aria-label="contact_phone" aria-describedby="contact_phone" style="text-align:right;" name="contact_phone" value="{{ contact_phone }}" />
                            </div>
                        </div>
                    </div>

                    <div class="row mb-2">
                        <div class="col">
                            <div class="input-group input-group-sm">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="contact_email">Contact Email:</span>
                                </div>
                                <input type="text" class="form-control" aria-label="contact_email" aria-describedby="contact_email" style="text-align:right;" name="contact_email" value="{{ contact_email }}" />
                            </div>
                        </div>
                    </div>

                    <div class="row mb-2">
                        <div class="col text-right text-light">
                            <button class="btn btn-dark" type="submit" value="save" name="save">Save <i class="fa fa-save"></i></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-1"></div>
        <div class="col-md-1"></div>
        <div class="col-lg-1"></div>
    </div>
</form>

{% endblock %}
