{% extends "base.html" %}

{% load widget_tweaks %}
{% load staticfiles %}
{% block page_content %}

<div class="container-fluid">
	<div class="card-body">
		<h2>User Profile</h2>
		<form class="form" method="post">
			{% csrf_token %}
			{% for field in form %}
			<p>
				{{ field.label_tag }}<br>
				{{ field }}
				{% if field.help_text %}
				<small style="color: grey">{{ field.help_text }}</small>
				{% endif %}
				{% for error in field.errors %}
				<p style="color: red">{{ error }}</p>
				{% endfor %}
			</p>
			{% endfor %}
			<button type="submit" class="btn btn-flat btn-primary ink-reaction">Apply</button>
		</form>
	</div>
</div>

{% endblock %}