{% extends "project.html" %} 
{% block page_detail_content %}

<div class="container-fluid">
    <form method="POST">
        {% csrf_token %}
        
        <div class="row mb-2 mt-5">
            <div class="col-3"></div>
            
            <div class="col">
                <h1>Edit Project Details</h1>
                <hr />
            </div>
            
            <div class="col-1">
                <a class="btn" role="button" type="submit" name="save" value="save" data-toggle="tooltip" title="Save"><i class="fa fa-save" style="font-size:25px"></i></a>
                <a class="btn" role="button" type="submit" name="delete" value="delete" data-toggle="tooltip" title="Delete"><i class="fa fa-trash" style="font-size:25px"></i></a>
            </div>
            
            <div class="col-3"></div>
        </div>
        
        <div class="row mb-2">
            <div class="col-3"></div>
            
            <div class="col">
                <div class="input-group input-group-sm mb-2">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="inputID">ID:</span>
                    </div>
                    <input type="text" class="form-control" aria-label="pk" aria-describedby="inputID" style="text-align:right;" name="pk" value="{{ project_detail.pk }}"/>
                </div>
            </div>
            
            <div class="col-3"></div>
        </div>
        
        <div class="row mb-2">
            <div class="col-3"></div>
            
            <div class="col">
                <div class="input-group input-group-sm mb-2">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="inputTitle">Project Title:</span>
                    </div>
                        <input type="text" class="form-control" aria-label="title" aria-describedby="inputTitle" style="text-align:right;" name="title" value="{{ project_detail.title }}"/>
                    </div>
                </div>
            
            <div class="col-3"></div>
        </div>
        
        <div class="row mb-2">
            <div class="col-3"></div>
            
            <div class="col">
                <div class="input-group input-group-sm mb-2">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="inputCategory">Project Category:</span>
                    </div>
                    <input type="text" class="form-control" aria-label="category" aria-describedby="inputCategory" style="text-align:right;" name="category" value="{{ project_detail.category }}"/>
                </div>
            </div>
            
            <div class="col-3"></div>
        </div>
        
        <div class="row mb-2">
            <div class="col-3"></div>
            
            <div class="col">
                <div class="input-group input-group-sm mb-2">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="inputYear">Year:</span>
                    </div>
                    <input type="text" class="form-control" aria-label="year" aria-describedby="inputYear" style="text-align:right;" name="year" value="{{ project_detail.year }}"/>
                </div>
            </div>
            
            <div class="col-3"></div>
        </div>
        
        <div class="row mb-2">
            <div class="col-3"></div>
            
            <div class="col">
                <div class="input-group input-group-sm mb-2">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroup">Group:</span>
                    </div>
                    <select class="form-control" aria-label="group" aria-describedby="inputGroup" style="text-align:right;" name="group" value="{{ project_detail.group }}">
                        {% for group in groups %}
                        <option value={{ group }}>{{ group }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            
            <div class="col-3"></div>
        </div>
        
        <div class="row mb-2">
            <div class="col-3"></div>
            
            <div class="col">
                <div class="input-group input-group-sm mb-2">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="inputUnit">Unit:</span>
                    </div>
                    <select class="form-control" aria-label="unit" aria-describedby="inputUnit" style="text-align:right;" name="unit" value="{{ project_detail.unit }}">
                        {% for unit in units %}
                        <option value={{ unit.full }}> {{ unit.full }}
                        {% endfor %}
                        </option>
                    </select>
                </div>
            </div>
            
            <div class="col-3"></div>
        </div>
        
        <div class="row mb-2">
            <div class="col-3"></div>
            
            <div class="col">
                <div class="input-group input-group-sm mb-2">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="inputConvenor">Convenor:</span>
                    </div>
                    <input type="text" class="form-control" aria-label="convenor" aria-describedby="inputConvenor" style="text-align:right;" name="convenor" value="{{ project_detail.convenor }}"/>
                </div>
            </div>
            
            <div class="col-3"></div>
        </div>
        
        <div class="row mb-2">
            <div class="col-3"></div>

            <div class="col-6">
                <div class="input-group input-group-sm mb-2">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="inputIntSuper">Supervisor:</span>
                    </div>
                    <input type="text" class="form-control" aria-label="internal_supervisor" aria-describedby="inputIntSuper" style="text-align:right;" name="internal_supervisor" value="{{ project_detail.internal_supervisor }}"/>
                </div>
            </div>

            <div class="col-3"></div>
        </div>
        
        <div class="row mb-2">
            <div class="col-3"></div>

            <div class="col-6">
                <div class="input-group input-group-sm mb-2">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="inputTeamLead">Team Leader:</span>
                    </div>
                    <input type="text" class="form-control" aria-label="teamleader" aria-describedby="inputTeamLead" style="text-align:right;" name="teamleader" value="{{ project_detail.teamleader }}"/>
                </div>
            </div>

            <div class="col-3"></div>
        </div>
        
        <div class="row mb-2">
            <div class="col-3"></div>

            <div class="col-6">
                <div class="input-group input-group-sm mb-2">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroupSize">Group Size:</span>
                    </div>
                    <input type="text" class="form-control" aria-label="groupsize" aria-describedby="inputGroupSize" style="text-align:right;" name="groupsize" value="{{ project_detail.groupsize }}"/>
                </div>
            </div>

            <div class="col-3"></div>
        </div>
    </form>
</div>

{% endblock %}