{% extends "project.html" %} {% block sub-page_content %}
<div class="container-fluid">
	<div class="row">
		<div class="d-flex justify-content-center w-100" style="background-color:#8B0000; height:50px">
			<form method="POST">
			{% csrf_token %}
				<p style="color:#FFFFFF; font-size:24px">
					<strong>Search: </strong>
					<input
						type="text"
						style="font-size:20px"
						placeholder="Filter by project_title, project_id, project_category..."
						name="project_list"
						value="{{ filter_value }}"
					/>
					<button type="submit"><i class="fas fa-search" style="font-size:20px"></i></button>
				</p>
			</form>
		</div>
	</div>
	<div class="row">
		<div class="d-flex justify-content-center mx-auto w-100">
			<table class="table table-bordered">
			<tr style="text-align:center; background-color:#C0C0C0">
				<th style="width:15%"><strong>PROJECT ID</strong></th>
				<th style="width:35%"><strong>PROJECT TITLE</strong></th>
				<th style="width:25%"><strong>PROJECT CATEGORY</strong></th>
				<th style="width:10%"><strong>YEAR</strong></th>
				<th style="width:15%"><strong>UNIT CODE</strong></th>
			</tr>
			<td>Current Projects</td>
			{% for project in project_filter %}
			<tr style="text-align:center">
				<td><a href="project_detail/{{ project.pk }}">{{ project.pk }}</a></td>
				<td>{{ project.title }}</td>
				<td>{{ project.category }}</td>
				<td>{{ project.year }}</td>
				<td>{{ project.unit }}</td>
			</tr>
			{% endfor %}
			<td>Past Projects</td>
			{% for project in past_projects %}
			<tr style="text-align:center">
				<td><a href="project_detail/{{ project.pk }}">{{ project.pk }}</a></td>
				<td>{{ project.title }}</td>
				<td>{{ project.category }}</td>
				<td>{{ project.year }}</td>
				<td>{{ project.unit }}</td>
			</tr>
			{% endfor %}
			</table>
		</div>
	</div>
</div>

{% endblock %}