{% extends "project.html" %} 

{% block sub-page_content %}

{% if not messages %}
<h2>Project Details</h2>
{% else %}
<h2>Project Details</h2>
{% for message in messages %}<li>{{ message }}</li>{% endfor %}
{% endif %}

{% endblock %}

{% block page_detail_content %}

<div class="row">
    <div class="col">
        <div class="row mb-2 mt-5">
            <div class="col-5"></div>
            
            <div class="col-1">
                <a href="project_edit/{{ project_detail.pk }}" class="btn" role="button" style="color:inherit" data-toggle="tooltip" title="Edit"><i class="fa fa-edit" style="font-size:25px"></i></a>
            </div>
            <div class="col-6"></div>
            
        </div>

        <div class="row mb-2">
            <div class="col-1"></div>

            <div class="col">
                <div class="card">
                    <h6 class="card-header"><strong>ID:</strong></h6>
                    <div class="card-body">
                        <p class="card-text" value="{{ project_detail.pk }}">{{ project_detail.pk }}</p>
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="card">
                    <h6 class="card-header"><strong>Project Title:</strong></h6>
                    <div class="card-body">
                        <p class="card-text" value="{{ project_detail.title }}">{{ project_detail.title }}</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="row mb-2">

            <div class="col-1"></div>

            <div class="col">
                <div class="card">
                    <h6 class="card-header"><strong>Category:</strong></h6>
                    <div class="card-body">
                        <p class="card-text" value="{{ project_detail.category }}">{{ project_detail.category }}</p>
                    </div>            
                </div>
            </div>

            <div class="col">
                <div class="card">
                    <h6 class="card-header"><strong>Year:</strong></h6>
                    <div class="card-body">
                        <p class="card-text" value="{{ project_detail.year }}">{{ project_detail.year }}</p>
                    </div>            
                </div>
            </div>
        </div>

        <div class="row mb-2">
            <div class="col-1"></div>

            <div class="col">
                <div class="card">
                    <h6 class="card-header"><strong>Group:</strong></h6>
                    <div class="card-body">
                        <p class="card-text" value="{{ project_detail.group }}">{{ project_detail.group }}</p>
                    </div>            
                </div>
            </div>

            <div class="col">
                <div class="card">
                    <h6 class="card-header"><strong>Unit:</strong></h6>
                    <div class="card-body">
                        <p class="card-text" value="{{ project_detail.unit }}">{{ project_detail.unit }}</p>
                    </div>            
                </div>
            </div>
        </div>

        <div class="row mb-2">
            <div class="col-1"></div>

            <div class="col">
                <div class="card">
                    <h6 class="card-header"><strong>Convenor:</strong></h6>
                    <div class="card-body">
                        <p class="card-text" value="{{ project_detail.convenor }}">{{ project_detail.convenor }}</p>
                    </div>            
                </div>
            </div>

            <div class="col">
                <div class="card">
                    <h6 class="card-header"><strong>Supervisor:</strong></h6>
                    <div class="card-body">
                        <p class="card-text" value="{{ project_detail.internal_supervisor }}">{{ project_detail.internal_supervisor }}</p>
                    </div>            
                </div>
            </div>
        </div>

        <div class="row mb-2">
            <div class="col-1"></div>

            <div class="col">
                <div class="card">
                    <h6 class="card-header"><strong>Team Leader:</strong></h6>
                    <div class="card-body">
                        <p class="card-text" value=""></p>
                    </div>            
                </div>
            </div>

            <div class="col">
                <div class="card">
                    <h6 class="card-header"><strong>Group Size:</strong></h6>
                    <div class="card-body">
                        <p class="card-text" value=""></p>
                    </div>            
                </div>
            </div>
        </div>
    </div>

    <div class="col">
        <div class="row mb-2 mt-5">

            <div class="col">
                <h1>Project Groups</h1>
                <hr />
            </div>

            <div class="col-1"></div>

        </div>

        <div class="row mb-2">

            <div class="col">
                <div class="table-responsive card shadow-sm">
                    <table class="table table-bordered table-hover ">
                        <thead>
                            <tr class="table-primary">
                                <th scope="col"><strong></strong></th>
                                <th scope="col"><strong></strong></th>
                                <th scope="col"><strong></strong></th>
                                <th scope="col"><strong></strong></th>
                            </tr>
                        </thead>

                        <tbody>
                            <tr scope="row">
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="col-1"></div>

        </div>
    </div>
</div>

{% endblock %}