{% extends "project.html" %}

{% block sub-page_content %}

{% if not messages %}
<h2>Project List</h2>
{% else %}
<h2>Project List</h2>
{% for message in messages %}<li>{{ message }}</li>{% endfor %}
{% endif %}

{% endblock %}

{% block page_detail_content %}

<div class="row mb-2">

    <div class="col-md-1"></div>

    <div class="col">

        <div class="row mb-2">
            <div class="col-sm-2"></div>
            
            <div class="col">
                <form method="POST" class="form bg-white rounded">
                    {% csrf_token %}
                    <div class="input-group">
                        <input id="txtSearch2" type="text" class="form-control" placeholder="Filter by project_title, project_id, project_category..." name="project_list" value="{{ filter_value }}" />
                        <div class="input-group-append">
                            <button class="btn btn-dark" type="submit">Search</button>
                        </div>
                    </div>
                </form>
            </div>
            
            <div class="col-sm-2"></div>
        </div>

        <div class="row mb-2">

            <div class="col">
                <div class="table-responsive card shadow-sm">
                    <table class="table table-bordered table-hover">
                        <thead class="thead-dark">
                            <tr>
                                <th scope="col"><strong>Title</strong></th>
                                <th scope="col"><strong>Category</strong></th>
                                <th scope="col"><strong>Year</strong></th>
                                <th scope="col"><strong>Unit</strong></th>
                                <th scope="col"><strong>Create At</strong></th>
                            </tr>
                        </thead>
                        <tbody>
                            <td>Current Projects</td>
                            {% for project in project_filter %}
                            <tr scope="row">
                                <td><a href="project_detail/{{ project.pk }}">{{ project.title }}</a></td>
                                <td>{{ project.category }}</td>
                                <td>{{ project.year }}</td>
                                <td>{{ project.unit }}</td>
                                <td>{{ project.created_at }}</td>
                            </tr>
                            {% endfor %}
                            <td>Past Projects</td>
                            {% for project in past_projects %}
                            <tr scope="row">
                                <td><a href="project_detail/{{ project.pk }}">{{ project.title }}</a></td>
                                <td>{{ project.category }}</td>
                                <td>{{ project.year }}</td>
                                <td>{{ project.unit }}</td>
                                <td>{{ project.created_at }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-1"></div>
</div>

{% endblock %}
