{% extends "project.html" %} {% block page_detail_content %}
<form method="POST">
  {% csrf_token %}
  <div style="position:absolute; left:93%; top:105px; height:70px;">
    <button type="submit" name="save" value="save">
      <i class="fas fa-save" style="font-size:25px"></i>
    </button>
    <button type="submit" name="delete" value="delete">
      <i class="fa fa-trash" style="font-size:25px"></i>
    </button>
  </div>

  <div
    style="position:absolute; top:170px; left:18%; font-family:Segoe UI; color:#000000; font-size:16px"
  >
    <h1>Project Detail</h1>
    <hr />
    <br />
    <p>
      ID:
      <input
        type="text"
        style="left:45%; width:500px; text-align:right;"
        name="pk"
        value="{{ project_detail.pk }}"
      />
    </p>
    <p>
      Name:
      <input
        type="text"
        style="left:45%; width:500px; text-align:right;"
        name="title"
        value="{{ project_detail.title }}"
      />
    </p>
    <p>
      Category:
      <input
        type="text"
        style="left:45%; width:500px; text-align:right;"
        name="category"
        value="{{ project_detail.category }}"
      />
    </p>
    <p>
      Year:
      <input
        type="text"
        style="left:45%; width:500px; text-align:right;"
        name="year"
        value="{{ project_detail.year }}"
      />
    </p>
    <p>
      Group:
      <input list="groups"
        type="text"
        style="left:45%; width:500px; text-align:right;"
        name="group"
        value="{{ project_detail.group }}"
      />
      <datalist id="groups">
      {% for group in groups %}
      <option value={{ group }}
      {% endfor %} 
    </p>
    <p>
      Unit:
      <input list="units"
        type="text"
        style="left:45%; width:500px; text-align:right;"
        name="project_unit"
        value="{{ project_detail.unit }}"
      />
      <datalist id="units">
        {% for unit in units %}
        <option value={{unit.full}}>
        {% endfor %}
    </p>
    <p>
      Convenor:
      <input
        type="text"
        style="left:45%; width:500px; text-align:right;"
        name="convenor"
        value="{{ project_detail.convenor }}"
      />
    </p>
    <p>
      Supervisor:
      <input
        type="text"
        style="left:45%; width:500px; text-align:right;"
        name="internal_supervisor"
        value="{{ project_detail.internal_supervisor }}"
      />
    </p>
    <p>
      Team Leader:
      <input
        type="text"
        style="left:45%; width:500px; text-align:right;"
        name="teamleader"
        value="{{ project_detail.teamleader }}"
      />
    </p>
    <p>
      Group Size:
      <input
        type="text"
        style="left:45%; width:500px; text-align:right;"
        name="groupsize"
        value="{{ project_detail.groupsize }}"
      />
    </p>
  </div>
</form>

{% endblock %}
