{% extends "proposal.html" %}

{% block sub-page_content %}

{% if not messages %}
<h2>Proposal Status</h2>
{% else %}
<h2>Proposal Status</h2>
{% for message in messages %}<li>{{ message }}</li>{% endfor %}
{% endif %}

{% endblock %}

{% block page_detail_content %}

<div class="row mb-2">
    <div class="col-md-1"></div>

    <div class="col">
        <div class="row mb-2">
            <div class="col">
                <div class="table-responsive card shadow-sm">
                    <table class="table table-bordered table-hover">
                        <thead class="thead-dark">
                            <tr>
                                <th scope="col">Proposal</th>
                                <th scope="col">Recieved from Client</th>
                                <th scope="col">Allocated to Unit</th>
                                <th scope="col">Allocated to Student Team</th>
                                <th scope="col">Allocated to Supervisor</th>
                                <th scope="col">Generated to Project</th>
                                <th scope="col">#</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for proposal in proposal_status %}
                            <tr scope="row">
                                <td><a href="proposal_detail/{{ proposal.proposal.pk }}">{{ proposal.proposal.title }}</a></td>

                                {%  if  proposal.is_recieved_from_Client  == '0' %}
                                <td align="center">
                                    <i class="fas fa-times"></i>
                                </td>
                                {% elif proposal.is_recieved_from_Client == '1' %}
                                <td align="center">
                                    <i class="fas fa-check"></i>
                                </td>
                                {% elif proposal.is_recieved_from_Client == '2' %}
                                <td align="center">
                                    N/A
                                </td>
                                {% endif %}

                                {%  if  proposal.is_allocated_to_Unit  == '0' %}
                                <td align="center">
                                    <i class="fas fa-times"></i>
                                </td>
                                {% elif proposal.is_allocated_to_Unit == '1' %}
                                <td align="center">
                                    <i class="fas fa-check"></i>
                                </td>
                                {% elif proposal.is_allocated_to_Unit == '2' %}
                                <td align="center">
                                    N/A
                                </td>
                                {% endif %}

                                {%  if  proposal.is_allocated_to_Student_Team  == '0' %}
                                <td align="center">
                                    <i class="fas fa-times"></i>
                                </td>
                                {% elif proposal.is_allocated_to_Student_Team == '1' %}
                                <td align="center">
                                    <i class="fas fa-check"></i>
                                </td>
                                {% elif proposal.is_allocated_to_Student_Team == '2' %}
                                <td align="center">
                                    N/A
                                </td>
                                {% endif %}

                                {%  if  proposal.is_allocated_to_Supervisor  == '0' %}
                                <td align="center">
                                    <i class="fas fa-times"></i>
                                </td>
                                {% elif proposal.is_allocated_to_Supervisor == '1' %}
                                <td align="center">
                                    <i class="fas fa-check"></i>
                                </td>
                                {% elif proposal.is_allocated_to_Supervisor == '2' %}
                                <td align="center">
                                    N/A
                                </td>
                                {% endif %}

                                {%  if  proposal.is_generated_to_Project  == '0' %}
                                <td align="center">
                                    <i class="fas fa-times"></i>
                                </td>
                                {% elif proposal.is_generated_to_Project == '1' %}
                                <td align="center">
                                    <i class="fas fa-check"></i>
                                </td>
                                {% elif proposal.is_generated_to_Project == '2' %}
                                <td align="center">
                                    N/A
                                </td>
                                {% endif %}

                                <td>
                                    <a class="btn" role="button" type="submit" name="proposal_stat" value="proposal_stat" data-toggle="tooltip" title="Proposal_status" href="/CPPMS/proposal/proposal_status_edit/{{ proposal.proposal.pk }}">Edit</a>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-1"></div>
</div>

{% endblock %}
