{% extends "proposal.html" %}

{% block page_detail_content %}
      <form method="POST">{% csrf_token %}
          <div style="position:absolute; left:96%; top:105px; height:70px;">
              <button type="submit" name="save" value="save"><i class="fas fa-save" style="font-size:25px"></i></button>
          </div>
          
          <table border="3" style="position:absolute; top:160px; left:15%; width:85%; font-family:Segoe UI; font-size:16px">
              <tr style="text-align:center; background-color:#C0C0C0">
                  <th style="width:35%"><strong>PROPOSAL STAGE</strong></th>
                  <th style="width:15%"><strong>ASSIGN</strong></th>
                  <th style="width:15%"><strong>DATE</strong></th>
                  <th style="width:10%"><strong>STATUS</strong></th>
                  <th style="width:25%"><strong>NOTE</strong></th>
              </tr>
              <tr>
                  <td style="text-align:center">Proposal is recieved from Client</td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
              </tr>
              <tr>
                  <td style="text-align:center">Proposal is allocated to Unit</td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
              </tr>
              <tr>
                  <td style="text-align:center">Proposal is allocated to Student Team</td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
              </tr>
              <tr>
                  <td style="text-align:center">Proposal is allocated to Supervisor</td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
              </tr>
              <tr>
                  <td style="text-align:center">Proposal is generated to Project</td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
              </tr>
          </table>
          
      </form>

{% endblock %}