{% extends "proposal.html" %}

{% block sub-page_content %}

{% if not messages %}
<h2>Edit Proposal Details</h2>
{% else %}
<h2>Edit Proposal Details</h2>
{% for message in messages %}<li>{{ message }}</li>{% endfor %}
{% endif %}

{% endblock %}

{% block page_detail_content %}

<form method="POST">
    {% csrf_token %}
    
    <div id="deleteModal" tabindex="-1" class="modal fade">
        <div class="modal-dialog modal-confirm">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Are you sure?</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                </div>
                <div class="modal-body">
                    <p>Do you really want to delete the Proposal: {{ proposal_detail.title }}? </p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-info" data-dismiss="modal">Cancel</button>
                    <button type="submit" name="delete" class="btn btn-danger">Delete</button>
                </div>
            </div>
        </div>
    </div>
    
    <div class="row mb-2">

        <div class="col-lg-1"></div>
        <div class="col-md-1"></div>
        <div class="col-sm-1"></div>

        <div class="col">
            <div class="card">
                <h3 class="card-header">{{ proposal_detail.title }}</h3>

                <div class="card-body">

                    <div class="row mb-2">

                        <div class="col">
                            <div class="input-group input-group-sm">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="inputTitle">Title:</span>
                                </div>
                                <input type="text" class="form-control" aria-label="title" aria-describedby="inputTitle" style="text-align:right;" name="title" value="{{ proposal_detail.title }}" />
                            </div>
                        </div>

                    </div>

                    <div class="row mb-2">

                        <div class="col">
                            <div class="input-group input-group-sm">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="inputDescription">Description:</span>
                                </div>
                                <input type="text" class="form-control" aria-label="description" aria-describedby="inputDescription" style="text-align:right;" name="description" value="{{ proposal_detail.description }}" />
                            </div>
                        </div>

                    </div>

                    <div class="row mb-2">

                        <div class="col">
                            <div class="input-group input-group-sm">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="inputYear">Status:</span>
                                </div>
                                <input type="text" class="form-control" aria-label="status" aria-describedby="inputStatus" style="text-align:right;" name="status" value="{{ proposal_detail.status }}" />
                            </div>
                        </div>

                    </div>

                    <div class="row mb-2">

                        <div class="col">
                            <div class="input-group input-group-sm">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="inputClientName">Client Name:</span>
                                </div>
                                <input class="form-control" aria-label="cliname" aria-describedby="inputClientName" style="text-align:right;" name="cliname" value="{{ proposal_detail.client.name }}" />
                            </div>
                        </div>

                    </div>

                    <div class="row mb-2">

                        <div class="col">
                            <div class="input-group input-group-sm">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="inputCompDesc">Company Description:</span>
                                </div>
                                <input class="form-control" aria-label="compdesc" aria-describedby="inputCompDesc" style="text-align:right;" name="compdesc" value="{{ proposal_detail.client.company.description }}" />
                            </div>
                        </div>

                    </div>

                    <div class="row mb-2">

                        <div class="col">
                            <div class="input-group input-group-sm">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="inputCompWebs">Company Website:</span>
                                </div>
                                <input type="text" class="form-control" aria-label="compwebs" aria-describedby="inputCompWebs" style="text-align:right;" name="compwebs" value="{{ proposal_detail.client.company.website }}" />
                            </div>
                        </div>

                    </div>

                    <div class="row mb-2">

                        <div class="col">
                            <div class="input-group input-group-sm">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="inputCompAddr">Company Address:</span>
                                </div>
                                <input type="text" class="form-control" aria-label="compaddr" aria-describedby="inputCompAddr" style="text-align:right;" name="compaddr" value="{{ proposal_detail.client.company.address }}" />
                            </div>
                        </div>

                    </div>

                    <div class="row mb-2">

                        <div class="col">
                            <div class="input-group input-group-sm">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="inputContNam">Contact Name:</span>
                                </div>
                                <input type="text" class="form-control" aria-label="contname" aria-describedby="inputContName" style="text-align:right;" name="contname" value="{{ proposal_detail.client.contact.name }}" />
                            </div>
                        </div>

                    </div>

                    <div class="row mb-2">

                        <div class="col">
                            <div class="input-group input-group-sm">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="inputContPhon">Contact Phone:</span>
                                </div>
                                <input type="text" class="form-control" aria-label="contphon" aria-describedby="inputContPhon" style="text-align:right;" name="contphon" value="{{ proposal_detail.client.contact.phone }}" />
                            </div>
                        </div>

                    </div>

                    <div class="row mb-2">

                        <div class="col">
                            <div class="input-group input-group-sm">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="inputContEmai">Contact Email:</span>
                                </div>
                                <input type="text" class="form-control" aria-label="contemai" aria-describedby="inputContEmai" style="text-align:right;" name="contemai" value="{{ proposal_detail.client.contact.email }}" />
                            </div>
                        </div>

                    </div>

                    <div class="row mb-2">

                        <div class="col">
                            <div class="input-group input-group-sm">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="inputContPosi">Contact Position:</span>
                                </div>
                                <input type="text" class="form-control" aria-label="contposi" aria-describedby="inputContPosi" style="text-align:right;" name="contposi" value="{{ proposal_detail.client.contact.position }}" />
                            </div>
                        </div>

                    </div>

                    <div class="row mb-2">

                        <div class="col">
                            <div class="input-group input-group-sm">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="inputDepName">Department Name:</span>
                                </div>
                                <input type="text" class="form-control" aria-label="depname" aria-describedby="inputDepName" style="text-align:right;" name="depname" value="{{ proposal_detail.client.department.name }}" />
                            </div>
                        </div>

                    </div>

                    <div class="row mb-2">

                        <div class="col">
                            <div class="input-group input-group-sm">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="inputDepPhone">Department Phone:</span>
                                </div>
                                <input type="text" class="form-control" aria-label="depphone" aria-describedby="inputDepPhone" style="text-align:right;" name="depphone" value="{{ proposal_detail.client.department.phone }}" />
                            </div>
                        </div>

                    </div>

                    <div class="row mb-2">

                        <div class="col">
                            <div class="input-group input-group-sm">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="inputDepEmail">Department Email:</span>
                                </div>
                                <input type="text" class="form-control" aria-label="depemail" aria-describedby="inputDepEmail" style="text-align:right;" name="depemail" value="{{ proposal_detail.client.department.email }}" />
                            </div>
                        </div>

                    </div>

                    <div class="row mb-2">

                        <div class="col">
                            <div class="input-group input-group-sm">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="inputSpec">Proposal Specialisation:</span>
                                </div>
                                <input type="text" class="form-control" aria-label="spec" aria-describedby="inputSpec" style="text-align:right;" name="spec" value="{{ proposal_detail.spec }}" />
                            </div>
                        </div>

                    </div>

                    <div class="row mb-2">

                        <div class="col">
                            <div class="input-group input-group-sm">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="inputSkills">Proposal Skills:</span>
                                </div>
                                <input type="text" class="form-control" aria-label="skills" aria-describedby="inputSkills" style="text-align:right;" name="skills" value="{{ proposal_detail.proposal_skills }}" />
                            </div>
                        </div>

                    </div>

                    <div class="row mb-2">

                        <div class="col">
                            <div class="input-group input-group-sm">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="inputEnviro">Proposal Environment:</span>
                                </div>
                                <input type="text" class="form-control" aria-label="enviro" aria-describedby="inputEnviro" style="text-align:right;" name="enviro" value="{{ proposal_detail.proposal_environment }}" />
                            </div>
                        </div>

                    </div>

                    <div class="row mb-2">

                        <div class="col">
                            <div class="input-group input-group-sm">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="inputResearch">Proposal Research:</span>
                                </div>
                                <input type="text" class="form-control" aria-label="research" aria-describedby="inputResearch" style="text-align:right;" name="research" value="{{ proposal_detail.proposal_research }}" />
                            </div>
                        </div>

                    </div>

                    <div class="row mb-2">

                        <div class="col">
                            <div class="input-group input-group-sm">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="inputGroupSize">Contact Position:</span>
                                </div>
                                <input type="text" class="form-control" aria-label="contposi" aria-describedby="inputContPosi" style="text-align:right;" name="contposi" value="{{ proposal_detail.client.contact.position }}" />
                            </div>
                        </div>

                    </div>

                    <div class="row mb-2">

                        <div class="col">
                            <div class="input-group input-group-sm">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="inputSupName">Supervisor Name:</span>
                                </div>
                                <input type="text" class="form-control" aria-label="supname" aria-describedby="inputSupName" style="text-align:right;" name="supname" value="{{ proposal_detail.supervisor.name }}" />
                            </div>
                        </div>

                    </div>

                    <div class="row mb-2">

                        <div class="col">
                            <div class="input-group input-group-sm">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="inputSupPhone">Supervisor Phone:</span>
                                </div>
                                <input type="text" class="form-control" aria-label="supphone" aria-describedby="inputSupPhone" style="text-align:right;" name="supphone" value="{{ proposal_detail.supervisor.phone }}" />
                            </div>
                        </div>

                    </div>

                    <div class="row mb-2">

                        <div class="col">
                            <div class="input-group input-group-sm">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="inputSupEmail">Supervisor Email:</span>
                                </div>
                                <input type="text" class="form-control" aria-label="supemail" aria-describedby="inputSupEmail" style="text-align:right;" name="supemail" value="{{ proposal_detail.supervisor.email }}" />
                            </div>
                        </div>

                    </div>

                    <div class="row mb-2">

                        <div class="col">
                            <div class="input-group input-group-sm">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="inputSupTitle">Supervisor Title:</span>
                                </div>
                                <input type="text" class="form-control" aria-label="suptitle" aria-describedby="inputSupTitle" style="text-align:right;" name="suptitle" value="{{ proposal_detail.supervisor.title }}" />
                            </div>
                        </div>

                    </div>

                    <div class="row mb-2">
                        <div class="col text-right text-light">
                            <a class="btn btn-dark" role="button" type="submit" name="save" value="save" data-toggle="tooltip" title="Save '{{ proposal_detail.title }}'">Save <i class="fa fa-save"></i></a>
                            <a class="btn btn-dark" role="button" type="submit" name="delete" data-target="#deleteModal" data-toggle="modal" title="Delete '{{ proposal_detail.title }}'">Delete <i class="fa fa-trash"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-sm-1"></div>
        <div class="col-md-1"></div>
        <div class="col-lg-1"></div>
    </div>
</form>


{% endblock %}
