{% extends "proposal.html" %} 
{% block sub-page_content %}
  {% if not messages %}
    <h2>Extract Proposal</h2>
  {% else %}
    <h2>Extract Proposal</h2>
    {% for message in messages %}<li>{{ message }}</li>{% endfor %}
  {% endif %}
{% endblock %}

{% block page_detail_content %}
<form method="POST">
  {% csrf_token %}
  <div style="position:absolute; left:93%; top:105px; height:70px;">
    <button type="submit" name="save" value="save">
      <i class="fas fa-save" style="font-size:25px"></i>
    </button>
    <button type="submit" name="delete" value="delete">
      <i class="fa fa-archive" style="font-size:25px"></i>
    </button>
  </div>

  <div
    style="position:absolute; top:170px; left:18%; font-family:Segoe UI; color:#000000; font-size:16px"
  >
    <h1>Extract data for Incoming Proposal</h1>   
    <hr />
    <br />
    <p>
      ID:
      <input
        type="text"
        style="left:45%; width:500px; text-align:right;"
        name="pk"
        value="{{ proposal_extract.pk }}"
      />
    </p>
    <p>
      Title:
      <input
        type="text"
        style="left:45%; width:500px; text-align:right;"
        name="title"
        value="{{ proposal_extract.title }}"
      />
    </p>
    <p>
      Description:
      <input
        type="text"
        style="left:45%; width:500px; text-align:right;"
        name="description"
        value="{{ proposal_extract.description }}"
      />
    </p>
    <p>
      Status:
      <input
        type="text"
        style="left:45%; width:500px; text-align:right;"
        name="status"
        value="{{ proposal_extract.status }}"
      />
    </p>
    <hr />
    <br />
    <h2>Company</h2>
    <p>
      Suggested Company
      <input list="suggested_companies"
        type="text"
        style="left:45%; width:500px; text-align:right;"
        name="suggested_company_list"
        value="{{ suggested_company.name }}"
      />
      <datalist id="suggested_companies">
      {% for company in suggested_companies %}
      <option value={{ company.name }}
      {% endfor %}
    </p>
    <p>
      Company Name:
      <input
        type="text"
        style="left:45%; width:500px; text-align:right;"
        name="client_name"
        value="{{ proposal_extract.client_name }}"
      />
    </p>
    <p>
      Company Description:
      <input
        type="text"
        style="left:45%; width:500px; text-align:right;"
        name="company_desc"
        value="{{ proposal_extract.company_desc }}"
      />
    </p>
    <p>
      Company Website:
      <input list="groups"
        type="text"
        style="left:45%; width:500px; text-align:right;"
        name="company_website"
        value="{{ proposal_extract.company_website }}"
      />
    </p>
    <p>
      Company Address:
      <input
        type="text"
        style="left:45%; width:500px; text-align:right;"
        name="company_address"
        value="{{ proposal_extract.company_address }}"
      />
    </p>
    <hr />
    <br />
    <h3>Department</h3>
    <p>
      Department Name:
      <input
        type="text"
        style="left:45%; width:500px; text-align:right;"
        name="department_name"
        value="{{ proposal_extract.department_name }}"
      />
    </p>
    <p>
      Department Phone:
      <input
        type="text"
        style="left:45%; width:500px; text-align:right;"
        name="department_phone"
        value="{{ proposal_extract.department_phone }}"
      />
    </p>
    <p>
      Department Email:
      <input
        type="text"
        style="left:45%; width:500px; text-align:right;"
        name="department_email"
        value="{{ proposal_extract.department_email }}"
      />
    </p>
    <hr />
    <br />
    <h2>Contact</h2>
    <p>
      Contact Name:
      <input
        type="text"
        style="left:45%; width:500px; text-align:right;"
        name="contact_name"
        value="{{ proposal_extract.contact_name }}"
      />
    </p>
    <p>
      Contact Phone:
      <input
        type="text"
        style="left:45%; width:500px; text-align:right;"
        name="contact_phone"
        value="{{ proposal_extract.contact_phone }}"
      />
    </p>
    <p>
      Contact Email:
      <input
        type="text"
        style="left:45%; width:500px; text-align:right;"
        name="contact_email"
        value="{{ proposal_extract.contact_email }}"
      />
    </p>
    <p>
      Contact Position:
      <input list="groups"
        type="text"
        style="left:45%; width:500px; text-align:right;"
        name="contact_position"
        value="{{ proposal_extract.contact_position }}"
      />
    </p>
    <hr />
    <br />
    <p>
      Proposal Specialisation:
      <input
        type="text"
        style="left:45%; width:500px; text-align:right;"
        name="proposal_specialisation"
        value="{{ proposal_extract.proposal_specialisation }}"
      />
    </p>
    <p>
      Proposal Skills:
      <input list="groups"
        type="text"
        style="left:45%; width:500px; text-align:right;"
        name="proposal_skills"
        value="{{ proposal_extract.proposal_skills }}"
      />
    </p>
    <p>
      Proposal Environment:
      <input
        type="text"
        style="left:45%; width:500px; text-align:right;"
        name="proposal_environment"
        value="{{ proposal_extract.proposal_environment }}"
      />
    </p>
     <p>
      Proposal Research:
      <input
        type="text"
        style="left:45%; width:500px; text-align:right;"
        name="proposal_research"
        value="{{ proposal_extract.proposal_research }}"
      />
    </p>
    <hr />
    <br />
    <p>
      Supervisor Name:
      <input
        type="text"
        style="left:45%; width:500px; text-align:right;"
        name="supervisor_name"
        value="{{ proposal_extract.supervisor_name }}"
      />
    </p>
    <p>
      Supervisor Phone:
      <input
        type="text"
        style="left:45%; width:500px; text-align:right;"
        name="supervisor_phone"
        value="{{ proposal_extract.supervisor_phone }}"
      />
    </p>
    <p>
      Supervisor Email:
      <input
        type="text"
        style="left:45%; width:500px; text-align:right;"
        name="supervisor_email"
        value="{{ proposal_extract.supervisor_email }}"
      />
    </p>
    <p>
      Supervisor Title:
      <input list="groups"
        type="text"
        style="left:45%; width:500px; text-align:right;"
        name="supervisor_title"
        value="{{ proposal_extract.supervisor_title }}"
      />
    </p>
  </div>
</form>

{% endblock %}
