{% extends "proposal.html" %}

{% block sub-page_content %}

{% if not messages %}
<h2>Proposal Status</h2>
<h2>Proposal Stage - {{Pro_Stage.0.proposal.title}}</h2>
{% else %}
<h2>Proposal Status</h2>
<h2>Proposal Stage -{{Pro_Stage.0.proposal.title}} </h2>
{% for message in messages %}<li>{{ message }}</li>{% endfor %}
{% endif %}

{% endblock %}

{% block page_detail_content %}

<div class="row mb-2">
    <div class="col-md-1"></div>

    <div class="col">
        <div class="row mb-2">
            <div class="col">
                <div class="table-responsive card shadow-sm">
                    <table class="table table-bordered table-hover">
                        <thead class="thead-dark">
                            <tr>
                                <th scope="col"><strong>Proposal Stage</strong></th>
                                <th scope="col"><strong>Status</strong></th>
                                <th scope="col"><strong>Created</strong></th>
                                <th scope="col"><strong>Updated</strong></th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for stage in Pro_Stage %}
                            <tr scope="row">
                                <td>{{stage.stage_name}}</td>

                                {%  if  stage.status  == '0' %}
                                <td align="center">
                                    OPEN
                                </td>
                                {% elif stage.status == '1' %}
                                <td align="center">
                                    PENDING
                                </td>
                                {% elif stage.status == '2' %}
                                <td align="center">
                                    DONE
                                </td>
                                {% elif stage.status == '3' %}
                                <td align="center">
                                    N/A
                                </td>
                                {% endif %}

                                <td>{{stage.created_at}}</td>
                                <td>{{stage.updated_at}}</td>

                            </tr>
                            {% endfor %}

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-1"></div>
</div>

{% endblock %}
