{% extends "proposal.html" %} {% block sub-page_content %}
  <h2>Proposal List</h2>
{% endblock %}

{% block page_detail_content %}
<div class="row mb-2">
    <div class="col-12">
        <form method="POST" class="form-inline bg-white rounded shadow-sm pt-2 pl-3 border">
            {% csrf_token %}
            <div class="form-group mb-2 mr-3">
                <label class="font-weight-bold">Search</label>
            </div>
            <div class="form-group mb-2 mr-1">
                <input type="text" class="form-control" placeholder="Filter by proposal id, proposal title..." name="proposal_list" value="{{ filter_value }}" style="width: 500px"/>
            </div>
            <div class="form-group mb-2">
                <button class="btn btn-primary" type="submit"><i class="ti-search"></i></button>
            </div>
        </form>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <div class="table-responsive card shadow-sm">
            <table class="table table-hover">
              <thead>
                  <tr class="table-primary">
                      <th>ID</th>
                      <th>Title</th>
                      <th>Date</th>
                      <th>Details</th>
                      <th>Client Name</th>
                    </tr>
              </thead>
              <tbody>
                  {% for proposal in proposal_filter %}
                  <tr>
                    <td>
                      <a href="proposal_progress/{{ proposal.pk }}">{{ proposal.pk }}</a>
                    </td>
                    <td>{{ proposal.title }}</td>
                    <td>{{ proposal.created_at }}</td>
                    <td>
                      <div class="mb-1">
                          <button type="submit" name="proposal" value="proposal" class="btn btn-primary" style="width: 100px">
                              <a href="proposal_detail/{{ proposal.pk }}" class="text-light">Proposal</a>
                            </button>
                      </div>
                      <div class="mb-1">
                          <button type="submit" name="project" value="project" class="btn btn-primary" style="width: 100px">
                              <a>Project</a>
                            </button>
                      </div>
                      <div class="mb-1">
                          <button type="submit" name="client" value="client" class="btn btn-primary" style="width: 100px">
                              <a>Client</a>
                            </button>
                      </div>
                    </td>
                    <td>{{ proposal.client.name }}</td>
                  </tr>
                  {% endfor %}
              </tbody>
            </table>
        </div>
    </div>    
</div>

{% endblock %}
