{% extends "proposal.html" %} {% block sub-page_content %}
<div class="container-fluid">
    
    <div class="row mb-2 mt-5">
        <div class="col-3"></div>

        <div class="col">
            <h1>Proposal List</h1>
            <hr />
        </div>

        <div class="col-3"></div>
    </div>
    
	<div class="row mb-2">
        <div class="col-1"></div>
        <div class="col">
            <div class="table-responsive card shadow-sm">
                <table class="table table-bordered table-hover text-center">
                    <thead>
                        <tr class="table-primary">
                            <th scope="col"><strong>PROPOSAL ID</strong></th>
                            <th scope="col"><strong>PROPOSAL TITLE</strong></th>
                            <th scope="col"><strong>DATE</strong></th>
                            <th scope="col"><strong>UNIT CODE</strong></th>
                            <th scope="col"><strong>DETAILS</strong></th>
                            <th scope="col"><strong>NOTE</strong></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for proposal in proposal_filter %}
                        <tr scope="row">
                            <td><a href="proposal_progress/{{ proposal.pk }}">{{ proposal.pk }}</a></td>
                            <td>{{ proposal.title }}</td>
                            <td>{{ proposal.created_at }}</td>
                            <td>{{ proposal.proposal_unit }}</td>
                            <td style="text-align:center">
                                <a class="btn" role="button" type="submit" name="proposal" value="proposal" data-toggle="tooltip" title="Proposal" href="proposal_detail/{{ proposal.pk }}">Proposal</a>
                                <a class="btn" role="button" type="submit" name="project" value="project" data-toggle="tooltip" title="Project" href="">Project</a>
                                <a class="btn" role="button" type="submit" name="client" value="client" data-toggle="tooltip" title="Client" href="">Client</a>
                            </td>
                            <td>{{ proposal.client }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-1"></div>
	</div>
</div>

{% endblock %}