{% extends "index.html" %}

{% block index_page_content %}   
    <ul class="breadcrumb" style="position:absolute; top:90px; height:70px; width:100%; background-color:#8B0000">
      <div style="width:15%; font-family:Segoe UI">
        <p style="color:#FFFFFF; text-align:center; font-size:24px"><strong>Menu</strong></p>
      </div>
    </ul>
    
    <ul class="breadcrumb" style="position:absolute; top:160px; width:15%; height:100%; background-color:#DCDCDC">
      <div style="font-family:Segoe UI; font-size:22px; color:	#000000">
        <a href="{% url 'incoming_proposal' %}" style="top:0px; width:100%; height:70px; text-align:left">Incoming Proposal</a>
        <a href="{% url 'proposal_list' %}" style="top:70px; width:100%; height:70px; text-align:left">Proposal List</a>
      </div>
    </ul>
    
    {% block sub-page_content %}
    {% endblock %}
    
    {% block page_detail_content %}
    {% endblock %}
    
{% endblock %}