{% extends "proposal.html" %}

{% block sub-page_content %}

<h2>Units</h2>
{% if messages %}
{% for message in messages %}<li>{{ message }}</li>{% endfor %}
{% endif %}

{% endblock %}

{% block page_detail_content %}

<div class="row mb-2">

    <div class="col-md-1"></div>

    <div class="col">

        <div class="row mb-2">
            <div class="col">
                <div class="table-responsive card shadow-sm">
                    <table class="table table-bordered table-hover">
                        <thead class="thead-dark">
                            <tr>
                                <th scope="col"><strong>Unit Code</strong></th>
                                <th scope="col"><strong>Title</strong></th>
                                <th scope="col"><strong>Current Projects</strong></th>
                                <th scope="col"><strong>Past Projects</strong></th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for unit in unit_list %}
                            <tr scope="row">
                                <td>{{ unit.unit_code }}</td>
                                <td>{{ unit.title }}</td>
                                <td>{{ unit.current_projects.count }}</td>
                                <td>{{ unit.past_projects.count }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-1"></div>
</div>

{% endblock %}
