{% extends "proposal.html" %}

{% block sub-page_content %}   
    <form method="POST" enctype="multipart/form-data">{% csrf_token %}
      <div class="search-container" style="position:absolute; top:160px; left:15%; width:85%; font-family:Segoe UI; font-size:16px">
          <p style="color:#000000; font-size:24px"><strong>Upload Word-structured Proposal: </strong>
          <input type="file" style="width:70%; font-size:20px" name="file">
          <button type="submit" style="font-size:20px" name="upload">Upload</button></p>
      </div>  
      
      </hr></br>
      
      {% if uploaded_proposal %}
      <div class="search-container" style="position:absolute; top:280px; left:15%; width:85%; font-family:Segoe UI; font-size:16px">          
        <p style="color:#000000; font-size:24px"><strong>Proposal uploaded at: </strong></br>
        <a href="{{ uploaded_proposal }}" name="uploaded" value="{{ uploaded_proposal }}">{{ uploaded_proposal }}&nbsp;&nbsp;&nbsp;&nbsp;</a></p>
      </div>
      {% endif %}
      
      <table border="3" style="position:absolute; top:380px; left:15%; width:85%; font-family:Segoe UI; font-size:16px">
        <tr style="text-align:center; background-color:#C0C0C0">
          <th style="width:15%"><strong>PROPOSAL ID</strong></th>
          <th style="width:55%"><strong>PROPOSAL TITLE</strong></th>
          <th style="width:25%"><strong>UPLOADED AT</strong></th>
        </tr>
        {% for proposal in word_proposals %}
        <tr style="text-align:right">
          <td>
            <a href="word_proposal_detail/{{ proposal.pk }}">{{ proposal.pk }}</a>
          </td>
          <td>{{ proposal.title }}</td>
          <td></td>
        </tr>
        {% endfor %}
      </table>
    </form>

{% endblock %}