{% extends "proposal.html" %}

{% block sub-page_content %}

<h2>{{ proposal_detail.title }}</h2>
{% if messages %}
{% for message in messages %}<li>{{ message }}</li>{% endfor %}
{% endif %}

{% endblock %}

{% block page_detail_content %}
<form method="POST">
    {% csrf_token %}

    <div class="modal" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="deleteModalLongTitle">Are you sure?</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>Do you really want to delete the Proposal: {{ proposal_detail.title }}? </p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-info" data-dismiss="modal">Cancel</button>
                    <button type="submit" name="delete" class="btn btn-danger">Delete</button>
                </div>
            </div>
        </div>
    </div>

    <div class="row mb-2">

        <div class="col-lg-1"></div>
        <div class="col-md-1"></div>
        <div class="col-sm-1"></div>
        
        <div class="col">
            <div class="card">
                <h3 class="card-header">{{ proposal_detail.title }}</h3>
                <div class="card-body">

                    {% if not extract %}
                    <div class="row mb-2">
                        <div class="col">
                            <div class="input-group input-group-sm">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="inputTitle">Proposal Title:</span>
                                </div>
                                <input type="text" class="form-control" aria-label="title" aria-describedby="inputTitle" style="text-align:right;" name="title" value="{{ proposal_detail.title }}" />
                            </div>
                        </div>
                    </div>

                    <div class="row mb-2">
                        <div class="col">
                            <div class="input-group input-group-sm">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="inputPath">File Path:</span>
                                </div>
                                <input type="text" class="form-control" aria-label="filepath" aria-describedby="inputPath" style="text-align:right;" name="filepath" value="{{ proposal_detail.filepath }}" />
                            </div>
                        </div>
                    </div>

                    <div class="row mb-2">
                        <div class="col">
                            <div class="input-group input-group-sm">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="inputUploaded">Uploaded At:</span>
                                </div>
                                <input type="text" class="form-control" aria-label="uploaded_at" aria-describedby="inputUploaded" style="text-align:right;" name="uploaded_at" value="" />
                            </div>
                        </div>
                    </div>
                    
                    {% elif extract %}
                    <div class="row mb-2">
                        <div class="col">
                            <div class="input-group input-group-sm">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="inputTitle">Proposal Title:</span>
                                </div>
                                <input type="text" class="form-control" aria-label="title" aria-describedby="inputTitle" style="text-align:right;" name="title" value="{{ proposal_detail.title }}" />
                            </div>
                        </div>
                    </div>

                    <div class="row mb-2">

                        <div class="col">
                            <div class="input-group input-group-sm">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="description">Description:</span>
                                </div>
                                <input type="text" class="form-control" aria-label="description" aria-describedby="description" style="text-align:right;" name="description" value="{{ description }}" />
                            </div>
                        </div>

                    </div>

                    <div class="row mb-2">

                        <div class="col">
                            <div class="input-group input-group-sm">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="status">Status:</span>
                                </div>
                                <input type="text" class="form-control" aria-label="status" aria-describedby="status" style="text-align:right;" name="status" value="{{ status }}" />
                            </div>
                        </div>

                    </div>

                    <div class="row mb-2">

                        <div class="col">
                            <div class="input-group input-group-sm">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="client_name">Client Name:</span>
                                </div>
                                <input class="form-control" aria-label="client_name" aria-describedby="client_name" style="text-align:right;" name="client_name" value="{{ client_name }}" />
                            </div>
                        </div>

                    </div>

                    <div class="row mb-2">

                        <div class="col">
                            <div class="input-group input-group-sm">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="client_desc">Company Description:</span>
                                </div>
                                <input class="form-control" aria-label="client_desc" aria-describedby="client_desc" style="text-align:right;" name="client_desc" value="{{ client_desc }}" />
                            </div>
                        </div>

                    </div>

                    <div class="row mb-2">

                        <div class="col">
                            <div class="input-group input-group-sm">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="client_website">Company Website:</span>
                                </div>
                                <input type="text" class="form-control" aria-label="client_website" aria-describedby="client_website" style="text-align:right;" name="client_website" value="{{ client_website }}" />
                            </div>
                        </div>

                    </div>

                    <div class="row mb-2">

                        <div class="col">
                            <div class="input-group input-group-sm">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="client_address">Company Address:</span>
                                </div>
                                <input type="text" class="form-control" aria-label="client_address" aria-describedby="client_address" style="text-align:right;" name="client_address" value="{{ client_address }}" />
                            </div>
                        </div>

                    </div>

                    <div class="row mb-2">

                        <div class="col">
                            <div class="input-group input-group-sm">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="contact_name">Contact Name:</span>
                                </div>
                                <input type="text" class="form-control" aria-label="contact_name" aria-describedby="contact_name" style="text-align:right;" name="contact_name" value="{{ contact_name }}" />
                            </div>
                        </div>

                    </div>

                    <div class="row mb-2">

                        <div class="col">
                            <div class="input-group input-group-sm">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="contact_phone">Contact Phone:</span>
                                </div>
                                <input type="text" class="form-control" aria-label="contact_phone" aria-describedby="contact_phone" style="text-align:right;" name="contact_phone" value="{{ contact_phone }}" />
                            </div>
                        </div>

                    </div>

                    <div class="row mb-2">

                        <div class="col">
                            <div class="input-group input-group-sm">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="contact_email">Contact Email:</span>
                                </div>
                                <input type="text" class="form-control" aria-label="contact_email" aria-describedby="contact_email" style="text-align:right;" name="contact_email" value="{{ contact_email }}" />
                            </div>
                        </div>

                    </div>

                    <div class="row mb-2">

                        <div class="col">
                            <div class="input-group input-group-sm">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="contact_position">Contact Position:</span>
                                </div>
                                <input type="text" class="form-control" aria-label="contact_position" aria-describedby="contact_position" style="text-align:right;" name="contact_position" value="{{ contact_position }}" />
                            </div>
                        </div>

                    </div>

                    <div class="row mb-2">

                        <div class="col">
                            <div class="input-group input-group-sm">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="department_name">Department Name:</span>
                                </div>
                                <input type="text" class="form-control" aria-label="department_name" aria-describedby="department_name" style="text-align:right;" name="department_name" value="{{ department_name }}" />
                            </div>
                        </div>

                    </div>

                    <div class="row mb-2">

                        <div class="col">
                            <div class="input-group input-group-sm">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="department_phone">Department Phone:</span>
                                </div>
                                <input type="text" class="form-control" aria-label="department_phone" aria-describedby="department_phone" style="text-align:right;" name="department_phone" value="{{ department_phone }}" />
                            </div>
                        </div>

                    </div>

                    <div class="row mb-2">

                        <div class="col">
                            <div class="input-group input-group-sm">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="department_email">Department Email:</span>
                                </div>
                                <input type="text" class="form-control" aria-label="department_email" aria-describedby="inputDepEmail" style="text-align:right;" name="department_email" value="{{ department_email }}" />
                            </div>
                        </div>

                    </div>

                    <div class="row mb-2">

                        <div class="col">
                            <div class="input-group input-group-sm">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="proposal_specialisation">Proposal Specialisation:</span>
                                </div>
                                <input type="text" class="form-control" aria-label="proposal_specialisation" aria-describedby="proposal_specialisation" style="text-align:right;" name="proposal_specialisation" value="{{ proposal_specialisation }}" />
                            </div>
                        </div>

                    </div>

                    <div class="row mb-2">

                        <div class="col">
                            <div class="input-group input-group-sm">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="proposal_skills">Proposal Skills:</span>
                                </div>
                                <input type="text" class="form-control" aria-label="proposal_skills" aria-describedby="proposal_skills" style="text-align:right;" name="proposal_skills" value="{{ proposal_skills }}" />
                            </div>
                        </div>

                    </div>

                    <div class="row mb-2">

                        <div class="col">
                            <div class="input-group input-group-sm">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="proposal_environment">Proposal Environment:</span>
                                </div>
                                <input type="text" class="form-control" aria-label="proposal_environment" aria-describedby="proposal_environment" style="text-align:right;" name="proposal_environment" value="{{ proposal_environment }}" />
                            </div>
                        </div>

                    </div>

                    <div class="row mb-2">

                        <div class="col">
                            <div class="input-group input-group-sm">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="proposal_research">Proposal Research:</span>
                                </div>
                                <input type="text" class="form-control" aria-label="proposal_research" aria-describedby="proposal_research" style="text-align:right;" name="proposal_research" value="{{ proposal_research }}" />
                            </div>
                        </div>

                    </div>

                    <div class="row mb-2">

                        <div class="col">
                            <div class="input-group input-group-sm">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="supervisor_name">Supervisor Name:</span>
                                </div>
                                <input type="text" class="form-control" aria-label="supervisor_name" aria-describedby="supervisor_name" style="text-align:right;" name="supervisor_name" value="{{ supervisor_name }}" />
                            </div>
                        </div>

                    </div>

                    <div class="row mb-2">

                        <div class="col">
                            <div class="input-group input-group-sm">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="supervisor_phone">Supervisor Phone:</span>
                                </div>
                                <input type="text" class="form-control" aria-label="supervisor_phone" aria-describedby="supervisor_phone" style="text-align:right;" name="supervisor_phone" value="{{ supervisor_phone }}" />
                            </div>
                        </div>

                    </div>

                    <div class="row mb-2">

                        <div class="col">
                            <div class="input-group input-group-sm">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="supervisor_email">Supervisor Email:</span>
                                </div>
                                <input type="text" class="form-control" aria-label="supervisor_email" aria-describedby="supervisor_email" style="text-align:right;" name="supervisor_email" value="{{ supervisor_email }}" />
                            </div>
                        </div>

                    </div>

                    <div class="row mb-2">

                        <div class="col">
                            <div class="input-group input-group-sm">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="supervisor_title">Supervisor Title:</span>
                                </div>
                                <input type="text" class="form-control" aria-label="supervisor_title" aria-describedby="supervisor_title" style="text-align:right;" name="supervisor_title" value="{{ supervisor_title }}" />
                            </div>
                        </div>

                    </div>

                    {% endif %}
                    <div class="row mb-2">
                        <div class="col text-right text-light">
                            {% if not extract %}
                            <button class="btn btn-dark" type="submit" role="button" name="extract" value="extract" data-toggle="tooltip" title="extract '{{ proposal_detail.title }}'">Extract <i class="fa fa-share-square"></i></button>
                            <button class="btn btn-dark" type="button" role="button" data-target="#deleteModal" data-toggle="modal" title="Delete '{{ proposal_detail.title }}'">Delete <i class="fa fa-trash"></i></button>
                            {% elif extract %}
                            <button class="btn btn-dark" type="submit" role="button" name="save" value="save" data-toggle="tooltip" title="Save '{{ proposal_detail.title }}'">Save <i class="fa fa-save"></i></button>
                            {% endif %}
                        </div>
                    </div>



                </div>
            </div>
        </div>
        
        
    <div class="col-sm-1"></div>
    <div class="col-md-1"></div>
    <div class="col-lg-1"></div>
        
    </div>
</form>

{% endblock %}
